{% load sitetree %}
{% if sitetree_items|length_is:"1" and sitetree_items.0.alias == 'home' %}
  {# breadcrumb for dashboard #}
{% else %}
<ol class="breadcrumb">
  {% if breadcrumb_home %}<li><a href="{% sitetree_url for breadcrumb_home %}">{% if breadcrumb_home.fa_icon %}<i class="fa fa-{{ breadcrumb_home.fa_icon }}"></i>{% endif %} {{ breadcrumb_home.title }}</a></li>{% endif %}
  {% for item in sitetree_items %}
    {% if not forloop.last %}
      <li class="{% if item.url == '#' %}dropdown{% endif %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.alias %}id="breadcrumb-{{ item.alias }}"{% endif %}>
        <a href="{% sitetree_url for item %}" {% if item.url == '#' %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
          {% if item.fa_icon %}<i class="fa fa-{{ item.fa_icon }}"></i>{% endif %}
          {{ item.title_resolved }}
        </a>
        {% if item.url == '#' %}
          {% sitetree_children of item for menu template "sitetree/breadcrumbs_dropdown.html" %}
        {% endif %}
      </li>
    {% else %}
      <li class="active">{% if item.fa_icon %}<i class="fa fa-{{ item.fa_icon }}"></i>{% endif %} {{ item.title_resolved }} </li>
    {% endif %}
  {% endfor %}
</ol>
{% endif %}
