{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load p2_tags %}

{% block content-introduction %}Fill in the form to add <em>{% user-full-name target_user %}</em> as your trusted babysitter.{% endblock %}

{% block content %}
  <form class="form form-horizontal" method="post">
    {% csrf_token %}
    {{ form|bootstrap_horizontal }}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Add</button>
{#        <a href="#" class="btn btn-default go-back">Go Back</a>#}
      </div>
    </div>
  </form>
{% endblock %}
