{% extends "account/pre-login.html" %}
{% load bootstrap %}

{% block content-introduction %}Welcome to Servuno! One of your friends or colleagues wants you to be part of their social group! As a member of Servuno, you will be able to trade babysitting favors with other parents, pool trusted babysitters with other parents, and reach your entire network at once when you need a babysitter or would like to offer babysitting help to others. What are you waiting for? Sign up to our exclusive club!{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" autocapitalize="off">
    {% csrf_token %}
    {{ form|bootstrap_horizontal:'col-sm-3' }}
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success">Sign Up</button>
      </div>
    </div>
  </form>
{% endblock %}
