{% extends "base_s.html" %}
{% load bootstrap %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Log in</a></li>
      <li><a href="{% url 'account_signup' %}">Sign up</a></li>
    </ul>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" method="post" action="{% url 'account_login' %}" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
      {% csrf_token %}
      {{ form|bootstrap_horizontal:'col-sm-4' }}
      {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-success">Log in</button>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <a href="{% url 'account_password_reset' %}">Forget password?</a>
  </div>
</div>
{% endblock %}
