{% extends "account/pre-login.html" %}
{% load bootstrap %}

{% block content %}
{% if not resend %}
<div class="panel panel-default">
  <div class="panel-heading">Password reset</div>
  <div class="panel-body">
    <form class="form-horizontal"  method="post" action="{% url 'account_password_reset' %}">
      {% csrf_token %}
      {% for field in form %}
        {{ field.as_hidden }}
      {% endfor %}
      <button type="submit" name="resend" class="btn btn-primary">Resend</button>
    </form>
  </div>
</div>
{% else %}
  <p>We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:admin@knowsun.com">admin@knowsun.com</a>.</p>
{% endif %}

{% endblock %}