{% extends "account/onboard/base.html" %}
{% load bootstrap %}

{% block content %}
  <form class="form-horizontal" method="post" autocapitalize="off">
    {% csrf_token %}
    {{ form|bootstrap_horizontal:'col-sm-3' }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button class="btn btn-primary" type="submit">Next <i class="fa fa-angle-double-right"></i></button>
      </div>
    </div>
  </form>
{% endblock %}

