{% extends "account/pre-login.html" %}
{% load bootstrap %}

{% block content %}
  <form class="form-horizontal" method="post" autocapitalize="off">
    {% csrf_token %}
    {{ form|bootstrap_horizontal:'col-sm-3' }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success">Sign up</button>
      </div>
    </div>
  </form>
{% endblock %}

