{% extends "base_s.html" %}
{% load bootstrap %}

{% block content %}
{% block page-content %}{% endblock %}
<div class="well">
  <p><span class="lead">About Servuno</span>{% include 'elements/slogan.html' %} <a href="{% url 'about' %}"><i class="fa fa-angle-double-right"></i></a></p>
  <p>Currently serving Ann Arbor, Michigan.</p>
</div>
{#<div class="text-center text-success">Currently serving Ann Arbor, Michigan</div>#}
{#<div class="text-center text-muted"><small>{% include 'elements/slogan.html' %}</small></div>#}
{% endblock %}
