{% extends 'base.html' %}
{% load account_tags %}
{% load p2_tags %}

{% block page %}
<div class="row">
  <aside class="col-sm-4">
    <div class="thumbnail" data-uid="{{ target_user.id }}">
      <img src="{% user_picture_url target_user %}" alt="user picture" class="img-thumbnail img-responsive">
      <div class="caption">
        <h3 class="text-center">{% user_display target_user %} {% if full_access %}<small><a href="{% url 'account_edit' %}"><i class="fa fa-edit"></i></a></small>{% endif %}</h3>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading panel-title">Contact</div>
      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-envelope"></i> <a href="mailto:{{ target_user.email }}">{{ target_user.email }}</a></li>
        {% if target_user.info.phone %}
          <li class="list-group-item"><i class="fa fa-phone"></i> <a href="tel:{{ target_user.info.phone }}">{{ target_user.info.phone }}</a></li>
        {% endif %}
        {% if target_user.info.address %}
          <li class="list-group-item"><i class="fa fa-truck"></i> <a href="https://www.google.com/maps/place/{{ target_user.info.address|urlencode }}">{{ target_user.info.address }}</a></li>
        {% endif %}
      </ul>
    </div>
    {% if target_user.info.note %}
      <div class="panel panel-info">
        <div class="panel-heading panel-title">About</div>
        <div class="panel-body">{{ target_user.info.note|default:"Nothing." }}</div>
      </div>
    {% endif %}
  </aside>

  <div class="col-sm-8">

    <h2>My favorite people {% if full_access %}<small><a href="{% url 'circle:manage_personal' %}"><i class="fa fa-edit"></i></a></small>{% endif %}</h2>
    {% if my_listed %}
      <ul class="list-inline">
        {% for u in my_listed %}
          <li><a href="{% url 'account_view' u.id %}" title=" {% user_display u %}" data-toggle="tooltip"><img src="{% user_picture_url u %}" class="img-circle img-50"></a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="">None.</p>
{#      <p class="">None. <a href="{% url 'circle:manage_personal' %}">Click here</a> to manage your personal circle.</p>#}
    {% endif %}

    <h2>My public circles {% if full_access %}<small><a href="{% url 'circle:manage_public' %}"><i class="fa fa-edit"></i></a></small>{% endif %}</h2>
    {% if my_memberships %}
      <ul>
      {% for m in my_memberships %}
        <li>{{ m.circle.name }} <span class="label label-default">{{ m.approved|yesno:'Approved,Not approved' }}</span><br><small>{{ m.circle.description }}</small></li>
      {% endfor %}
      </ul>
    {% else %}
      <p class="">None.</p>
{#      <p class="">None. <a href="{% url 'circle:manage_public' %}">Click here</a> to manage your public circle.</p>#}
    {% endif %}

    <h2>People who favorited me {% if full_access%}<small><a href="{% url 'circle:manage_loop' %}"><i class="fa fa-edit"></i></a></small>{% endif %}</h2>
    {% if in_others %}
      <ul class="list-inline">
        {% for u in in_others %}
          <li><a href="{% url 'account_view' u.id %}" title=" {% user_display u %}" data-toggle="tooltip"><img src="{% user_picture_url u %}" class="img-circle img-50"></a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="">None.</p>
    {% endif %}

  </div>
</div>
{% endblock %}