{% extends 'base.html' %}
{% load account_tags %}
{% load p2_tags %}
{% load bootstrap %}

{#{% block extra_header %}#}
{#<script>#}
{#  $(function() {#}
{#    $('#modal-form-submit').click(function() {#}
{##}
{#    });#}
{#  });#}
{#</script>#}
{#{% endblock %}#}
{% block panel-attributes %}data-uid="{{ target_user.id }}"{% endblock %}

{% block content-header %}
  {#  {% if current_user != target_user %}#}
  {#  <div class="row"><div class="col-xs-12">#}
  {#    <ul class="nav nav-pills pull-right">#}
  {#      <li><a href="{% url 'shout:user' uid=target_user.id %}"><i class="fa fa-bullhorn"></i> Message</a></li>#}
  {#      <li><a href="" data-toggle="modal" data-target="#modal-form"><i class="fa fa-user-plus"></i> Connect</a></li>#}
  {#    </ul>#}
  {#  </div></div>#}
  {#  {% endif %}#}
  <div class="row min-margin-bottom"><div class="col-xs-12">
  <span>
    {% if not target_user.is_registered %}<span class="label label-danger">not registered</span>{% endif %}
    {% include 'elements/user_level.html' with user=target_user only %}
    {% if interactions %}{% include 'elements/interactions.html' with count=interactions help='Previous number of interactions with this user on babysitting.' %}{% endif %}
    {% for circle in current_user_shared_circles %}
      {% if circle.owner == current_user %}
        <span class="label label-success">{{ circle.display }}</span>
      {% else %}
        <span class="label label-primary">{{ circle.display }}</span>
      {% endif %}
    {% endfor %}
  </span>
    {#    <span class="pull-right">#}
    {#      <a href="{% url 'shout:user' uid=target_user.id %}"><i class="fa fa-bullhorn"></i> Send message</a> |#}
    {#      <a href="" data-toggle="modal" data-target="#modal-form"><i class="fa fa-user-plus"></i> Connect</a>#}
    {#    </span>#}
  </div></div>
  <div class="row vertical-align min-margin-bottom">
    <div class="col-xs-4 text-center">
      {% if full_access %}
        <a href="{% url 'account_picture' %}" id="link_account_picture"><img src="{% user_picture_url target_user %}" alt="user picture" class="img-rounded img-responsive img-thumbnail"></a>
      {% else %}
        <img src="{% user_picture_url target_user %}" alt="user picture" class="img-rounded img-responsive img-thumbnail">
      {% endif %}
      {#        <div><a href="{% url 'account_picture' %}"><i class="fa fa-edit"></i> Edit</a></div>#}
    </div>
    <div class="col-xs-8 center-block text-center">
      <h3>
        {% user-full-name target_user %}{# {% if full_access %} <small><a href="{% url 'account_edit' %}"><i class="fa fa-edit"></i></a></small>{% endif %} #}
      </h3>
      <ul class="list-inline">
        {#          <li><i class="fa fa-envelope"></i> <a href="mailto:{{ target_user.email }}">{{ target_user.email }}</a></li>#}
        <li><i class="fa fa-envelope"></i> {{ target_user.email }}</li>
        {% if target_user.info.phone %}
          {#            <li><i class="fa fa-phone"></i> <a href="tel:{{ target_user.info.phone }}">{{ target_user.info.phone }}</a></li>#}
          <li><i class="fa fa-phone"></i> {{ target_user.info.phone }}</li>
        {% endif %}
        {% if target_user.info.address %}
          <li>{# <i class="fa fa-map-marker"></i> #}{{ target_user.info.address }} <a href="https://www.google.com/maps/place/{{ target_user.info.address|urlencode }}" target="_blank"><i class="fa fa-external-link"></i></a></li>
        {% endif %}
      </ul>
      {% if current_user != target_user %}
        <ul class="list-inline">
          <li><a class="btn btn-primary btn-xs" href="{% url 'shout:user' uid=target_user.id %}"><i class="fa fa-bullhorn"></i> Message</a></li>
          <li><a class="btn btn-primary btn-xs" href="" data-toggle="modal" data-target="#modal-form" id="user-connect-button"><i class="fa fa-user-plus"></i> Connect</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
  {% if target_user.info.note %}
    <div class="row"><div class="col-xs-12">
      <blockquote>{{ target_user.info.note }}</blockquote>
    </div></div>
  {% endif %}
{% endblock %}

{% block content %}
{% if target_user.is_registered %}
<div class="panel-body">
  <div class="page-header">
    <h5>Parents Network</h5>
  </div>
  {% if my_parents %}
    <div class="row">
      {% for m in my_parents %}
        <div class="col-xs-12 col-sm-6 col-md-4">
{#          {% include 'account/view/horizontal.html' with user=m.member star=m.is_star note=m.note only %}#}
          {% include 'includes/card/user_base.html' with user=m.member.to_puser star=m.is_star note=m.note only %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="">None.</p>
  {% endif %}

  <div class="page-header">
    <h5>Paid Babysitters</h5>
  </div>
  {% if my_sitters %}
    <div class="row">
      {% for m in my_sitters %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'account/view/horizontal.html' with user=m.member star=m.is_star note=m.note only %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="">None.</p>
  {% endif %}

  <div class="page-header">
    <h5>Groups</h5>
  </div>
  {% if my_memberships %}
    <div class="row">
      {% for m in my_memberships %}
        <div class="col-xs-12 col-sm-6 col-md-4{% if m.is_disapproved %} membership_disapproved{% endif %}">
          <div class="panel panel-default">
            <div class="panel-body">
              <span title="{% if m.is_disapproved %}Membership is reviewed but not approved. Please remove the circle from your list.{% elif m.is_pending_review %}Membership is pending for review.{% else %}{{ m.circle.description }}{% endif %}" data-toggle="tooltip" class="{% if not m.approved %}text-muted{% endif %}">
                <a href="{% url 'circle:tag_view' pk=m.circle.id %}">{% if m.is_disapproved %}<s>{{ m.circle.name }}</s>{% else %}{{ m.circle.name }}{% endif %}</a><br>
                <small class="pull-right">{% include 'elements/circle_member_count.html' with count=m.circle.count %}</small>
              </span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="">None.</p>
  {% endif %}

</div>
{% endif %}

{% if user_connection_form %}
<div class="modal fade" id="modal-form"><div class="modal-dialog"><div class="modal-content">
  <form class="form" method="post" action="{% url 'circle:user_connection' uid=target_user.id %}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Connect {% user-full-name target_user %}</h4>
  </div>
  <div class="modal-body">
      {% csrf_token %}
      {{ user_connection_form|bootstrap }}
  </div>
  <div class="modal-footer">
    <input type="submit" value="Update" class="btn btn-primary" id="modal-form-submit">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
  </form>
</div></div></div>
{% endif %}

{##}
{#<div class="row" data-uid="{{ target_user.id }}">#}
{#  <aside class="col-sm-4">#}
{##}
{#    <div class="panel panel-default">#}
{#      <div class="panel-body text-center">#}
{#        {% if full_access %}<a href="{% url 'account_picture' %}" id="link_account_picture">{% endif %}<img src="{% user_picture_url target_user %}" alt="user picture" class="img-rounded img-responsive img-thumbnail">{% if full_access %}</a>{% endif %}#}
{#        <h4 class="text-center">{% user-full-name target_user %}</h4>#}
{#        {% if full_access %}<div><small><a href="{% url 'account_edit' %}" id="link_account_edit"><i class="fa fa-edit"></i> Edit profile</a></small></div>{% endif %}#}
{#        <div class="text-large">{% include 'elements/user_level.html' with user=target_user only %}</div>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="panel panel-default">#}
{#      <div class="panel-heading panel-title">Contact</div>#}
{#      <ul class="list-group">#}
{#        <li class="list-group-item"><i class="fa fa-envelope"></i> <a href="mailto:{{ target_user.email }}">{{ target_user.email }}</a></li>#}
{#        {% if target_user.info.phone %}#}
{#          <li class="list-group-item"><i class="fa fa-phone"></i> <a href="tel:{{ target_user.info.phone }}">{{ target_user.info.phone }}</a></li>#}
{#        {% endif %}#}
{#        {% if target_user.info.address %}#}
{#          <li class="list-group-item"><i class="fa fa-map-marker"></i> <a href="https://www.google.com/maps/place/{{ target_user.info.address|urlencode }}">{{ target_user.info.address }}</a></li>#}
{#        {% endif %}#}
{#      </ul>#}
{#    </div>#}
{##}
{#    {% if target_user.info.note %}#}
{#      <div class="panel panel-default">#}
{#        <div class="panel-heading panel-title">About</div>#}
{#        <div class="panel-body">{{ target_user.info.note|default:"Nothing." }}</div>#}
{#      </div>#}
{#    {% endif %}#}
{##}
{#    <div class="panel panel-{% if favors_karma %}warning{% else %}default{% endif %}">#}
{#      <div class="panel-heading panel-title">Favors Karma <i class="fa fa-question-circle" data-toggle="tooltip" title="Help other parents babysit and have them return the favor when you need help. Paid babysitting is not a favor. Favors will show here 1-2 days after successfully delivered."></i></div>#}
{#      <div class="panel-body">#}
{#        {% if favors_karma %}#}
{#          {% for favor_user, count in favors_karma %}#}
{#          {% with other=favor_user me=target_user %}{% if count > 0 %}#}
{#            <span class="label label-success match-favors-label" data-toggle="tooltip" title="{% user-short-name other %} owes you ({% user-short-name me %}) {{ count }} favor{{ count|pluralize }}"><i class="fa fa-balance-scale"></i> {{ count }} {% user-short-name other %}</span>#}
{#          {% elif count < 0 %}#}
{#            <span class="label label-danger match-favors-label" data-toggle="tooltip" title="You ({% user-short-name me %}) owe {% user-short-name other %} {{ count|negate }} favor{{ count|negate|pluralize }}"><i class="fa fa-balance-scale"></i> {{ count|negate }} {% user-short-name other %}</span>#}
{#          {% endif %}{% endwith %}#}
{#          {% endfor %}#}
{#        {% else %}#}
{#          No favors owed.#}
{#        {% endif %}#}
{#      </div>#}
{#    </div>#}
{##}
{#  </aside>#}
{##}
{#  <div class="col-sm-8">#}
{##}
{#  <div class="panel panel-default">#}
{#    <div class="panel-heading panel-title">Circles {% if full_access %}<small><a href="{% url 'circle:manage_public' %}" id="link_manage_public"><i class="fa fa-edit"></i></a></small>{% endif %}</div>#}
{#    <div class="panel-body">#}
{#    {% if my_memberships %}#}
{#      <div class="row">#}
{#      {% for m in my_memberships %}#}
{#        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3{% if m.is_disapproved %} membership_disapproved{% endif %}">#}
{#          <div class="panel panel-default">#}
{#            <div class="panel-body">#}
{#              <span title="{% if m.is_disapproved %}Membership is reviewed but not approved. Please remove the circle from your list.{% elif m.is_pending_review %}Membership is pending for review.{% else %}{{ m.circle.description }}{% endif %}" data-toggle="tooltip" class="{% if not m.approved %}text-muted{% endif %}">#}
{#                {% if m.is_disapproved %}<s>{{ m.circle.name }}</s>{% else %}{{ m.circle.name }}{% endif %}<br>#}
{#                <small class="pull-right">{% include 'elements/circle_member_count.html' with count=m.circle.count %}</small>#}
{#              </span>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      {% endfor %}#}
{#      </div>#}
{#    {% else %}#}
{#      <p class="">None.</p>#}
{#    {% endif %}#}
{#    </div>#}
{#  </div>#}
{##}
{#  <div class="panel panel-default">#}
{#    <div class="panel-heading panel-title">Agencies {% if full_access %}<small><a href="{% url 'circle:manage_agency' %}" id="link_manage_agency"><i class="fa fa-edit"></i></a></small>{% endif %}</div>#}
{#    <div class="panel-body">#}
{#    {% if my_agencies %}#}
{#      <div class="row">#}
{#      {% for m in my_agencies %}#}
{#        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">#}
{#          <div class="panel panel-default">#}
{#            <div class="panel-body">#}
{#              <span title="{{ m.circle.description }}" data-toggle="tooltip">#}
{#                {{ m.circle.name }}<br>#}
{#                <small class="pull-right">{% if m.is_type_normal %}<i class="fa fa-trophy" title="I work for this agency" data-toggle="tooltip"></i>{% endif %} {% include 'elements/circle_member_count.html' with count=m.circle.count %}</small>#}
{#              </span>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      {% endfor %}#}
{#      </div>#}
{#    {% else %}#}
{#      <p class="">None.</p>#}
{#    {% endif %}#}
{#    </div>#}
{#  </div>#}
{##}
{#  <div class="panel panel-default">#}
{#    <div class="panel-heading panel-title">Contacts {% if full_access %}<small><a href="{% url 'circle:manage_personal' %}" id="link_manage_personal"><i class="fa fa-edit"></i></a></small>{% endif %}</div>#}
{#    <div class="panel-body">#}
{#      {% if my_listed %}#}
{#        <div class="row">#}
{#          {% for u in my_listed %}#}
{#            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">#}
{#              {% include 'account/view/horizontal.html' with user=u %}#}
{#            </div>#}
{#          {% endfor %}#}
{#        </div>#}
{#      {% else %}#}
{#        <p class="">None.</p>#}
        {#      <p class="">None. <a href="{% url 'circle:manage_personal' %}">Click here</a> to manage your personal circle.</p>#}
{#      {% endif %}#}
{#    </div>#}
{#  </div>#}
{##}
{#  <div class="panel panel-default">#}
{#    <div class="panel-heading panel-title">Listed By {% if full_access%}<small><a href="{% url 'circle:manage_loop' %}" id="link_manage_loop"><i class="fa fa-edit"></i></a></small>{% endif %}</div>#}
{#    <div class="panel-body">#}
{#      {% if in_others %}#}
{#      <div class="row">#}
{#        {% for u in in_others %}#}
{#          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">#}
{#            {% include 'account/view/horizontal.html' with user=u %}#}
{#          </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#      {% else %}#}
{#        <p class="">None.</p>#}
  {#      <p class="">None. <a href="{% url 'circle:manage_personal' %}">Click here</a> to manage your personal circle.</p>#}
{#      {% endif %}#}
{#    </div>#}
{#  </div>#}
{##}
{#  </div>#}
{#</div>#}
{% endblock %}
