{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load p2_tags %}

{% block extra_header %}
{% include 'includes/js_grid.html' %}
<script type="text/javascript">
$(document).ready(function() {
  // update status
  $('button[name="change-status"]').click(function(evt) {
    evt.stopPropagation();
    var op = $(this).val();
    var post_data = {op: op};
    if (op == 'confirm') {
      post_data['match_id'] = $(this).data('match-id');
    }

    // for revert, do the confirmation box.
    if (op == 'revert' || op == 'cancel' || op == 'confirm') {
      var messages = {
        revert: 'This operation will undo the confirmed request. The babysitter will be notified. You can choose another babysitter.',
        cancel: 'This operation will cancel the request, and cannot be undone.',
        confirm: 'The babysitter will be notified after you confirm.'
      };
      bootbox.confirm({
        title: 'Are you sure?',
        message: messages[op],
        buttons: {
          cancel: {label: 'No'},
          confirm: {label: 'Yes'}
        },
        callback: function(result) {
          if (result) {
            $.post("{% url 'contract:change_status' pk=contract.id %}", post_data, function(data) {
              location.reload();
            });
          }
        }
      });
    }
    else {
      $.post("{% url 'contract:change_status' pk=contract.id %}", post_data, function(data) {
        location.reload();
      });
    }
  });

  {% if user.is_staff %}
    // for staff member, allow create and preview match.
    $('.match-summary').addClass('hover-pointer');
    $('.match-summary').click(function () {
      window.location = '/job/response/' + $(this).data('match-id');
    });
  {% endif %}
});
</script>
{% endblock %}

{% block panel-attributes %}data-contract-id="{{ contract.id }}"{% endblock %}

{% block content-command-list %}
  {% if contract.initiate_user == user or user.is_staff %}<div class="btn-group btn-group-sm">
    {% if contract.is_confirmed and not contract.is_event_expired %}
      <button class="btn btn-danger" name="change-status" value="revert">Undo</button>
    {% elif contract.is_active and not contract.is_event_expired %}
      <a class="btn btn-primary" href="{% url 'contract:edit' pk=contract.id %}">Edit</a>
      <button class="btn btn-danger" name="change-status" value="cancel">Cancel</button>
    {% elif contract.is_event_expired and contract.is_confirmed %}
      <p class="text-danger"><i class="fa fa-exclamation-circle"></i> Provide feedback</p>
      <button class="btn btn-success" name="change-status" value="succeed">Successful</button>
      <button class="btn btn-danger" name="change-status" value="fail">Failed</button>
    {% else %}
{#      <a class="btn btn-default" href="/">Back</a>#}
    {% endif %}
  </div>{% endif %}
{% endblock %}

{% block content-introduction %}
  {% include 'contract/contract_view/summary.html' with contract=contract display_mode="contract" %}
{% endblock %}

{% block content %}
  {% if matches %}
    <div class="grid">
      {% for match in matches %}
        <div class="grid-item">
          {% include 'includes/card/match.html' with match=match user=match.target_user.to_puser only %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>
      No one has been contacted yet for this job post.
      {% if contract.is_manual %}
        Please use the form below to add the people you want to contact.
      {% else %}
        Servuno will find the best potential candidates to contact shortly. <a href="{% url 'circle:parent' %}">Expand your network</a> to increase the likelihood of finding some one. Or you can use the form below to add people you want to contact.
      {% endif %}
    </p>
  {% endif %}

{#  {% if contract.initiate_user.to_puser.is_isolated %}#}
{#    <div class="alert alert-warning fade in">#}
{#      {% include 'elements/prompt_network.html' %}#}
{#    </div>#}
{#  {% endif %}#}
{% endblock %}
