{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load p2_tags %}

{% block extra_header %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

{% include 'includes/js_grid.html' %}

<script type="text/javascript">
$(document).ready(function() {
  // update status
  $('button[name="change-status"]').click(function(evt) {
    evt.stopPropagation();
    var op = $(this).val();
    var post_data = {op: op};
    if (op == 'confirm') {
      post_data['match_id'] = $(this).data('match-id');
    }

    // for revert, do the confirmation box.
    if (op == 'revert' || op == 'cancel' || op == 'confirm') {
      var messages = {
        revert: 'This operation will undo the confirmed request. The babysitter will be notified. You can choose another babysitter.',
        cancel: 'This operation will cancel the request, and cannot be undone.',
        confirm: 'The babysitter will be notified after you confirm.'
      };
      bootbox.confirm({
        title: 'Are you sure?',
        message: messages[op],
        buttons: {
          cancel: {label: 'No'},
          confirm: {label: 'Yes'}
        },
        callback: function(result) {
          if (result) {
            $.post("{% url 'contract:change_status' pk=contract.id %}", post_data, function(data) {
              location.reload();
            });
          }
        }
      });
    }
    else {
      $.post("{% url 'contract:change_status' pk=contract.id %}", post_data, function(data) {
        location.reload();
      });
    }
  });

  {% if user.is_staff %}
    // for staff member, allow create and preview match.
    $('.match-summary').addClass('hover-pointer');
    $('.match-summary').click(function () {
      window.location = '/job/response/' + $(this).data('match-id');
    });
  {% endif %}

{#  // handle add people#}
{#  var $input_box = $('#new-item');#}
{#  var $input_button = $('#new-item-add-btn');#}
{##}
{#  // handle add#}
{#  $input_button.click(function() {#}
{#    var val = $.trim($input_box.val());#}
{#    var item_use = $('select[name="item_use"]').val();#}
{#    if (val) {#}
{#      // add to contract regardless of which function to use.#}
{#      $.post("{% url 'contract:match_add' pk=contract.id %}", {email_field: val}, function(match_add_data) {#}
{#        // add to circle if instructed#}
{#        if (item_use == 'add_sitter' || item_use == 'add_parent') {#}
{#          $.post("{% url 'circle:membership_activate' pk=circle.id %}", {email_field: val, is_sitter: (item_use == 'add_sitter')}, function(membership_data) {#}
{#            if ((match_add_data['processed'] && match_add_data['processed'].length > 0) || (membership_data['processed'] && membership_data['processed'].length > 0)) {#}
{#              window.location.reload();#}
{#            }#}
{#          });#}
{#        }#}
{#        else if (match_add_data['processed'] && match_add_data['processed'].length > 0) {#}
{#          window.location.reload();#}
{#        }#}
{#      });#}
{#    }#}
{#    $input_box.val('');#}
{#  });#}
{#  // bind "enter" as well#}
{#  $input_box.keyup(function(e) {#}
{#    if(e.keyCode == 13) {#}
{#      $input_button.trigger('click');#}
{#    }#}
{#  });#}

  // select2 stuff
  var $select = $("select[name='candidate']");
  var $select_btn = $('#candidate-add-btn');

  function decorateSelection (state) {
{#    console.log(state);#}
{#    return state.text;#}
    var img_url = $(state.element).data('img-url');
    if (!img_url) {
      var $state = $('<span data-id="' + state.id + '">' + state.text + ' <span class="text-danger">(new!)</span></span>');
      return $state;
    } else {
      var $state = $('<span data-id="' + state.id + '"><img class="img-18 img-circle" src="' + img_url + '">' + state.text + '</span>');
      return $state;
    }
  }
  var $select_select2 = $select.select2({
    placeholder: 'Select from the list or type in new email addresses.',
    tags: true,
    tokenSeparators: [',', ' '],
    templateSelection: decorateSelection,
  });

  // handle add
  $select_btn.click(function() {
    var val = $select.val();
    var item_use = $('select[name="item_use"]').val();
    if (val) {
      val = val.join();
      // add to contract regardless of which function to use.
      $.post("{% url 'contract:match_add' pk=contract.id %}", {email_field: val}, function(match_add_data) {
        // add to circle if instructed
        if (item_use == 'add_sitter' || item_use == 'add_parent') {
          $.post("{% url 'circle:membership_activate' pk=circle.id %}", {email_field: val, is_sitter: (item_use == 'add_sitter')}, function(membership_data) {
            if ((match_add_data['processed'] && match_add_data['processed'].length > 0) || (membership_data['processed'] && membership_data['processed'].length > 0)) {
              window.location.reload();
            }
          });
        }
        else if (match_add_data['processed'] && match_add_data['processed'].length > 0) {
          window.location.reload();
        }
      });
    }
    // $select.select2().val([]).trigger('change');
  });

  // handle select all/none
  $('#candidate-select-all').click(function() {
    $select.find('option').prop("selected","selected");
    $select.trigger("change");// Trigger change to select 2
  });
  $('#candidate-select-none').click(function() {
    $select.find('option').removeAttr("selected");
    $select.trigger("change");// Trigger change to select 2
  });
});
</script>
{% endblock %}

{% block panel-attributes %}data-contract-id="{{ contract.id }}"{% endblock %}

{% block content-command-list %}
  {% if contract.initiate_user == user or user.is_staff %}<div class="btn-group btn-group-sm">
    {% if contract.is_confirmed and not contract.is_event_expired %}
      <button class="btn btn-danger" name="change-status" value="revert">Undo</button>
    {% elif contract.is_active and not contract.is_event_expired %}
      <a class="btn btn-primary" href="{% url 'contract:edit' pk=contract.id %}">Edit</a>
      <button class="btn btn-danger" name="change-status" value="cancel">Cancel</button>
    {% elif contract.is_event_expired and contract.is_confirmed %}
      <p class="text-danger"><i class="fa fa-exclamation-circle"></i> Provide feedback</p>
      <button class="btn btn-success" name="change-status" value="succeed">Successful</button>
      <button class="btn btn-danger" name="change-status" value="fail">Failed</button>
    {% else %}
{#      <a class="btn btn-default" href="/">Back</a>#}
    {% endif %}
  </div>{% endif %}
{% endblock %}

{% block content-introduction %}
  {% include 'contract/contract_view/summary.html' with contract=contract display_mode="contract" %}
{% endblock %}

{% block content %}
  {% if matches %}
    <div class="section-title">People Contacted</div>
    <div class="grid min-margin-bottom">
      {% for match in matches %}
        <div class="grid-item">
          {% include 'includes/card/match.html' with match=match user=match.target_user.to_puser only %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="lead">
      No one has been contacted yet for this job post.
      {% if contract.is_manual %}
        Please use the form below to add the people you want to contact.
      {% else %}
        Servuno will find the best potential candidates to contact shortly. <a href="{% url 'circle:parent' %}">Expand your network</a> to increase the likelihood of finding some one. Or you can use the form below to add people you want to contact.
      {% endif %}
    </p>
  {% endif %}

  {% if not contract.is_expired and not contract.is_confirmed %}
    <div class="section-title">Add Contacts</div>

{#    <div class="input-group">#}
{#      <input id="new-item" class="form-control" placeholder="Email address. Separate multiple addresses with spaces." autofocus>#}
{#      <span class="input-group-btn"><button class="btn btn-primary" id="new-item-add-btn"><i class="fa fa-user-plus"></i> {% block add-button-name %}Add{% endblock %}</button></span>#}
{#    </div>#}
{##}
{#    <div class="form-group">#}
{#      <select class="form-control" name="item_use" id="id_item_use">#}
{#        <option value="add_parent" selected="selected">Add new contact(s) into my network for future use.</option>#}
{#        <option value="add_sitter">Add new contact(s) as my preferred babysitter.</option>#}
{#        <option value="once">Use new contact(s) for the job post only.</option>#}
{#      </select>#}
{#    </div>#}

    <div class="form-group">
      <select class="form-control" name="candidate" id="candidate-select" multiple>
      {% for options_tab in options_tabs %}
      {% if options_tab.candidate_list %}
      <optgroup label="{{ options_tab.title }}">
        {% for candidate in options_tab.candidate_list %}
          <option value="{{ candidate.id }}" data-img-url="{% user_picture_url candidate %}">{% user-full-name candidate %} ({{ candidate.email }})</option>
        {% endfor %}
      </optgroup>
      {% endif %}
      {% endfor %}
      </select>
    </div>

    <div class="form-inline min-margin-bottom">
      <div class="form-group margin-right-10">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-default" id="candidate-select-all">Select All</button>
          <button type="button" class="btn btn-default" id="candidate-select-none">Select None</button>
        </div>
      </div>
      <div class="form-group">
{#        <label class="control-label" for="id_item_use">How to handle new contacts?</label>#}
        <select class="form-control" name="item_use" id="id_item_use">
          <option value="add_parent" selected="selected">Add new contacts into my network (as parents).</option>
          <option value="add_sitter">Add new contacts as my preferred babysitters.</option>
          <option value="once">Use new contacts once for this post only.</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" id="candidate-add-btn">Add to Post</button>
    </div>

  {% endif %}

{#  {% if contract.initiate_user.to_puser.is_isolated %}#}
{#    <div class="alert alert-warning fade in">#}
{#      {% include 'elements/prompt_network.html' %}#}
{#    </div>#}
{#  {% endif %}#}
{% endblock %}
