{% extends "base.html" %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block title %}{% if day.is_regular %}Classroom Regular Schedule{% else %}Classroom Schedule{% endif %} | S2C2{% endblock %}

{% block page %}
  <div class="page-header">
    <h1>{% if day.is_regular %}Classroom Template Schedule{% else %}Classroom Daily Schedule{% endif %} <small>{% icon classroom %} <a href="{% url 'classroom' pk=classroom.pk %}">{{ classroom.name }}</a></small></h1>
  </div>

  <div class="row">
    <div class="col-sm-6"><h2>{% if day.is_regular %}Every {{ day.value|date:'l' }}{% else %}{{ day.value|date:'F j, l' }}{% endif %}</h2></div>
    <div class="col-sm-6"><ul class="nav-week pagination pull-right">
      <li{% if day.is_regular %} class="disabled"{% endif %}><a href="?day={{ day.prev_week.get_token }}"><i class="fa fa-fast-backward"></i></a></li>
      <li><a href="."><i class="fa fa-calendar"></i> Today</a></li>
      <li><a href="?day={{ day.switch.get_token }}"><i class="fa fa-exchange"></i> Switch</a></li>
      <li{% if day.is_regular %} class="disabled"{% endif %}><a href="?day={{ day.next_week.get_token }}"><i class="fa fa-fast-forward"></i></a></li>
    </ul></div>
  </div>
  <div class="text-center">
    {% url 'slot:classroom' cid=classroom.pk as pager_url %}
    {% if day.is_regular %}
      {% day-regular-pager day pager_url %}
    {% else %}
      {% day-date-pager day pager_url %}
    {% endif %}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <table class="table table-bordered table-hover table-striped table-condensed">
        <thead><tr>
          <th class="text-center">{% if day.is_regular %}{{ day.value|date:'l' }}{% else %}{{ day.value|date }}{% endif %}</th>
          <th class="text-center">Needs and Assignment</th>
        </tr></thead>
        <tbody>
        {% for r1, r2 in slot_table_data %}
          <tr>
            <th scope="row" class="text-center">{{ r1.0.value|time }} ~ {{ r1.1.value|time }}</th>
            {% if r2.exists %}
              <td class="text-center"><ul class="list-inline">
                {% for need_obj in r2 %}<li>
                {% if need_obj.meet %}
                  <a href="{% url 'slot:assign' need_id=need_obj.pk %}">{% icon 'user' %} {{ need_obj.meet.offer.user|name }}</a>
                {% else %}
                  <a href="{% url 'slot:assign' need_id=need_obj.pk %}" class="text-muted">-Empty-</a>
                {% endif %}
                </li>{% endfor %}
              </ul></td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">

      <div class="panel-group" id="command-list">
        {% include "slot/includes/command_form_view_staff.html" with panel_data_parent="command-list" command_form_id="command-form-staff" command_form_title="View available staff" %}
        {% include "slot/includes/command_form_add_need.html" with panel_data_parent="command-list" command_form_id="command-form-need-add" command_form_title="Add classroom needs" command_form_collapse=True %}
        {% include "slot/includes/command_form_delete_need.html" with panel_data_parent="command-list" command_form_id="command-form-need-delete" command_form_title="Delete classroom needs" %}
        {% include "slot/includes/command_form_assign_staff.html" with panel_data_parent="command-list" command_form_id="command-form-assign" command_form_title="Assign staff" %}
        {% if not day.is_regular %}
          {% include "slot/includes/command_form_copy_classroom.html" with panel_data_parent="command-list" command_form_id="command-form-copy" command_form_title="Copy from template" %}
        {% endif %}
        {% include "slot/includes/command_form_view_log.html" with panel_data_parent="command-list" command_form_id="command-form-view-log" command_form_title="View change log" command_form_collapse=False %}
      </div>

    </div>
  </div>
{% endblock %}

