{% extends "base.jinja2" %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block title %}Classroom Regular Schedule | S2C2{% endblock %}

{% block page %}
  <div class="page-header">
    <h1>{{ classroom.name }} <small>regular week schedule</small></h1>
  </div>

  <h2>
    {{ dow.name }}
    <a href="{% url 'slot:classroom_regular' pk=classroom.pk %}" title="Go to the regular calendar for today" class="btn btn-default btn-sm"><i class="fa fa-calendar"></i> Today</a>
    <a href="#" title="Switch to the regular schedule" class="btn btn-default btn-sm"><i class="fa fa-exchange"></i> Switch</a>
  </h2>
  {% url 'slot:classroom_regular' pk=classroom.pk as dow_pager_url %}
  {% dow-pager dow dow_pager_url %}

  <div class="row">
    <div class="col-sm-6">
      <table class="table table-bordered table-hover table-striped table-condensed">
        <thead><tr>
          <th class="text-center">{{ dow.name }}</th>
          <th class="text-center">Needs and Assignment</th>
        </tr></thead>
        <tbody>
        {% for r1, r2 in slot_table_data %}
          <tr>
            <th scope="row" class="text-center">{{ r1 }}</th>
            {% if r2.exists %}
              <td class="text-center"><ul class="list-inline">
                {% for i in r2 %}<li><a href="#" class="text-muted">-Empty-</a></li>{% endfor %}
              </ul></td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">

      <div class="panel-group" id="command-list">
{#        {% include "slot/command_form_view_classroom.jinja2" with panel_data_parent="command-list" command_form_id="command-form-classroom" command_form_title="View classroom needs" %}#}
        {% include "slot/command_form_add_need.jinja2" with panel_data_parent="command-list" command_form_id="command-form-need-add" command_form_title="Add classroom needs" %}
        {% include "slot/command_form_delete_need.jinja2" with panel_data_parent="command-list" command_form_id="command-form-need-delete" command_form_title="Delete classroom needs" %}
        {% include "slot/command_form_view_log.jinja2" with panel_data_parent="command-list" command_form_id="command-form-view-log" command_form_title="View change log" command_form_collapse=True %}
      </div>

    </div>
  </div>
{% endblock %}

