{% extends 'slot/command_form.jinja2' %}
{% load bootstrap %}

{% block command_form_content %}
  <form class="form-horizontal" role="form" method="post" action="{% url 'slot:need_regular_delete' cid=classroom.pk %}">
    {% csrf_token %}
    {{ command_form_need_delete|bootstrap_horizontal:'col-sm-4' }}
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary" name="delete-empty">Delete Empty</button>
        <button type="submit" class="btn btn-primary" name="delete-all">Delete All</button>
      </div>
    </div>
    <ul class="help-block">
      <li>"Delete Empty" only deletes needs that are not assigned in the time period.</li>
      <li>"Delete All" deletes all needs in the time period, including existing assignments. Affected staff will be notified.</li>
    </ul>
  </form>
{% endblock %}