<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#{{ panel_data_parent|default:'command-list' }}" href="#{{ command_form_id }}">{{ command_form_title }}</a>
    </h4>
  </div>
  <div id="{{ command_form_id }}" class="panel-collapse collapse{% if command_form_collapse %} in{% endif %}">
    <div class="panel-body">
      {% block command_form_content %}Please override{% endblock %}
    </div>
  </div>
</div>