{% extends 'base.html' %}
{% load p2_tags %}
{% load bootstrap %}

{% block template_extra_header %}
{% include 'includes/js_grid.html' %}
<script>
$(document).ready(function() {
  var $input_box = $('#new-item');
  var $input_button = $('#new-item-add-btn');

  // handle add
  $input_button.click(function() {
    var val = $input_box.val();
    var is_sitter = $('input[name="is_sitter"]').is(':checked');
    $.post("{% url 'circle:membership_activate' pk=circle.id %}", {email_field: val, is_sitter: is_sitter}, function(data) {
      if (data['processed'] && data['processed'].length > 0) {
        window.location.reload();
      }
    });
    $input_box.val('');
  });
  // bind "enter" as well
  $input_box.keyup(function(e) {
    if(e.keyCode == 13) {
      $input_button.trigger('click');
    }
  });

  $('.card .destroy').click(function(e) {
    e.stopPropagation();
    var $this = $(this);
    var url = $this.data('url');
    if (url) {
      $.post(url, function(data) {
        if (data['success']) {
          // $this.parents('.card').parent().remove();  // 2nd parent is for the column
          var $grid = $('.grid');
          $grid.isotope('remove', $this.parents('.card').parent());
          $grid.isotope('layout');
        }
      });
    }
  });
});
</script>
{% endblock %}

{% block content %}
  {% if full_access %}
    <div class="input-group min-margin-bottom">
      <input id="new-item" class="form-control" placeholder="Email address" autofocus>
      <span class="input-group-btn"><button class="btn btn-primary" id="new-item-add-btn"><i class="fa fa-user-plus"></i> {% block add-button-name %}Add{% endblock %}</button></span>
    </div>
    <div class="checkbox hidden min-margin-bottom"><label><input name="is_sitter" type="checkbox" {% if is_sitter %}checked{% endif %}> <span>Add as a babysitter</span></label></div>
{#    <hr>#}
  {% endif %}

  {% if not list_membership %}
    <p>None.</p>
  {% else %}
    <div class="grid">
      {% for membership in list_membership %}
        <div class="grid-item">{% include 'includes/card/membership.html' with membership=membership user=membership.member.to_puser only %}</div>
      {% endfor %}
    </div>
  {% endif %}

  {% block extended-block %}
    <div class="page-header"><h6>{% block extended-network-name %}{% endblock %}</h6></div>
    {% if not list_extended %}
      <p>None.</p>
    {% else %}
      <div class="grid">
        {% for user_connection in list_extended %}
          <div class="grid-item">{% include 'includes/card/connection.html' with user_connection=user_connection user=user_connection.target_user only %}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
