{% extends "circle/view/base.html" %}
{% load p2_tags %}

{#{% block extra_header %}#}
{#<script>#}
{#  $(document).ready(function() {#}
{#    $('.destroy-btn.destroy').click(function(e) {#}
{#      e.stopPropagation();#}
{#      var $this = $(this);#}
{#      var url = $this.data('url');#}
{#      if (url) {#}
{#        $.post(url, function(data) {#}
{#          if (data['success']) {#}
{#            window.location.reload();#}
{#          }#}
{#        });#}
{#      }#}
{#    });#}
{#  });#}
{#</script>#}
{#{% endblock %}#}

{% block content-title %}
  <i class="fa fa-paw"></i>
  {% if circle.homepage %}
    <a href="{{ circle.homepage }}" target="_blank">{{ circle.display }} <i class="fa fa-external-link"></i></a>
  {% else %}
    {{ circle.display }}
  {% endif %}
{#  <small class="label label-info" title="Invite people to join the group using this code during Sign Up." data-toggle="tooltip"><i class="fa fa-key"></i> {{ signup_code.code }}</small>#}
{% endblock %}

{% block content-command-list %}
  <div class="btn-group btn-group-sm">
  {% if user_membership.is_admin %}
    <a href="{% url 'circle:group_edit' pk=circle.id %}" class="btn btn-info"><i class="fa fa-pencil"></i> Edit Group</a>
  {% endif %}
  {% if user_membership.is_joined %}
    <a href="{% url 'circle:membership_edit_group' pk=user_membership.id %}" class="btn btn-warning"><i class="fa fa-edit"></i> Note</a>
    <span class="btn btn-default ajax-post-refresh" data-post-url="{% url 'circle:membership_deactivate' pk=user_membership.id %}"><i class="fa fa-sign-out"></i> Leave Group</span>
  {% else %}
    <a href="{% url 'circle:group_join' pk=circle.id %}" class="btn btn-success"><i class="fa fa-sign-in"></i> Join</a>
  {% endif %}
  </div>
{% endblock %}

{% block content-introduction %}
  <p>{{ circle.description|default:"No group description." }}</p>
  {% is-trusted circle 'common' as is_common_access %}
  {% if is_common_access %}
    <p><i class="fa fa-key"></i> Sign up code: <strong title="Invite people to join the group using this code during Sign Up." data-toggle="tooltip">{{ signup_code.code|upper }}</strong></p>
  {% endif %}
  <ul class="list-inline text-right">
    {% for admin_user in circle.get_admin_users %}
      <li>
        {% if admin_user == circle.owner %}
          {% include 'account/view/inline_full.html' with user=admin_user.to_puser extra_info='(owner)' only %}
        {% else %}
          {% include 'account/view/inline_full.html' with user=admin_user.to_puser extra_info='(admin)' only %}
        {% endif %}
      </li>
    {% endfor %}
    <li title="Number of group members." data-toggle="tooltip">{% include 'elements/circle_member_count.html' with count=circle.count %}</li>
  </ul>
{% endblock %}

{% block membership-display %}
  {% if is_view_access %}
    {% if not list_membership %}
      <p>No one is in this group.</p>
    {% else %}
      <div class="grid">
        {% for membership in list_membership %}
          <div class="grid-item">{% include 'includes/card/membership_group.html' with membership=membership user=membership.member.to_puser allow_edit=is_admin_access only %}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% else %}
    <p>You are not a member of the group and cannot view other members of the group. Please join the group if you are affliated. Membership is pending on approval from the group administrators.</p>
  {% endif %}
{% endblock %}

{% block extended-block %}
  {% if is_view_access and list_sitter_membership %}
    <div class="page-header"><h6>Babysitters Endorsed by This Group</h6></div>
    <div class="grid">
      {% for sitter_membership in list_sitter_membership %}
        <div class="grid-item">{% include 'includes/card/membership_group.html' with user=sitter_membership.member membership=sitter_membership only %}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}