{% extends "circle/view/base.html" %}
{% load p2_tags %}

{% block extra_header %}
<script>
  $(document).ready(function() {
    $('.destroy-btn.destroy').click(function(e) {
      e.stopPropagation();
      var $this = $(this);
      var url = $this.data('url');
      if (url) {
        $.post(url, function(data) {
          if (data['success']) {
            window.location.reload();
          }
        });
      }
    });
  });
</script>
{% endblock %}

{% block content-title %}
  {% if circle.homepage %}
    <a href="{{ circle.homepage }}" target="_blank">{{ circle.display }} <i class="fa fa-external-link"></i></a>
  {% else %}
    {{ circle.display }}
  {% endif %}
{% endblock %}

{% block content-command-list %}
  <div class="btn-group btn-group-xs">
  {% if user_membership.is_joined %}
    <a href="{% url 'circle:membership_edit_group' pk=user_membership.id %}" class="btn btn-warning"><i class="fa fa-edit"></i> Edit Membership</a>
    <span class="btn btn-xs btn-danger destroy destroy-btn" data-url="{% url 'circle:membership_deactivate' pk=user_membership.id %}"><i class="fa fa-sign-out"></i> Leave Group</span>
  {% else %}
    <a href="{% url 'circle:group_join' pk=circle.id %}" class="btn btn-success"><i class="fa fa-sign-in"></i> Join Group</a>
  {% endif %}
  {% if user_membership.is_admin %}
    <a href="{% url 'circle:group_edit' pk=circle.id %}" class="btn btn-info"><i class="fa fa-pencil"></i> Edit Group</a>
  {% endif %}
  </div>
{% endblock %}

{% block content-introduction %}
  <ul class="list-inline">
    {% for admin_user in circle.get_admin_users %}
    <li>
      {% if admin_user == circle.owner %}
        {% include 'account/view/inline_full.html' with user=admin_user.to_puser extra_info='(owner)' only %}
      {% else %}
        {% include 'account/view/inline_full.html' with user=admin_user.to_puser extra_info='(admin)' only %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <p>{% if circle.description %}{{ circle.description }}{% endif %}</p>
{% endblock %}

{% block extended-block %}
  {% if list_sitter_membership %}
    <div class="page-header"><h6>Babysitters Endorsed by This Group</h6></div>
    <div class="grid">
      {% for sitter_membership in list_sitter_membership %}
        <div class="grid-item">{% include 'includes/card/membership.html' with user=sitter_membership.member membership=sitter_membership allow_edit=full_access only %}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}