{% extends "circle/view/base.html" %}

{% block content-title %}Grow Your Parent Network{% endblock %}

{% block content-introduction %}
  <p>The more connections you have within Servuno, the better the system will work for you. Add other parents to your network by entering their email address below – Servuno will then send them an email invitation so they can sign up!</p>
  <p>You can do the following with your parent-to-parent connections:</p>
  <ul>
    <li>Ask for babysitting favors</li>
    <li>Give babysitting favors</li>
    <li>Share babysitting resources</li>
  </ul>
{% endblock %}

{% block grid-extra %}
  {% for membership in pending_membership %}
    <div class="grid-item">{% include 'includes/card/membership_request.html' with membership=membership user=membership.circle.owner.to_puser %}</div>
  {% endfor %}
{% endblock %}

{% block extended-block %}
  <div class="page-header"><h6>Your Extended Network <span title="Here list friends of friends." data-toggle="tooltip"><i class="fa fa-info-circle"></i></span></h6></div>
  {% if not list_extended %}
    <p>None.</p>
  {% else %}
    <div class="grid">
      {% for user_connection in list_extended %}
        <div class="grid-item">{% include 'includes/card/connection_add_parent.html' with user_connection=user_connection user=user_connection.target_user only %}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
