{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}About{% endblock %}

{% block extra_header %}
<script>
  $(function () {
    // set equal heights.
    var maxHeight = 0;
    $('.feature').each(function() {
      maxHeight = Math.max(maxHeight, $(this).height());
    });
    $('.feature').height(maxHeight);
  });
</script>
{% endblock %}

{% block page %}
  <div class="jumbotron">
    <h1>Servuno</h1>
    <p>{% include 'elements/slogan.html' %}</p>
  </div>
  <h4 class="page-header">How it Works</h4>
  <p>{% include 'elements/how_it_works.html' %}</p>
  <h4 class="page-header">Key Features</h4>
  <div class="row">
    {% include 'pages/about_feature.html' with fa="fa-exchange" title="Parents Favor Exchange" note="Want a short-term babysitter for free? Partner with other parents for favor exchange and let Servuno keep track of who owes whom." only %}
    {% include 'pages/about_feature.html' with fa="fa-beer" title="Absolutely Free" note="Frustrated with sites that let you 'sign up' for free but pay to 'use'? There is no catch 22 here in Servuno. You only pay your babysitters." only %}
    {% include 'pages/about_feature.html' with fa="fa-random" title="Smart Matching <i class='fa fa-registered'></i>" note="We have a smart algorithm that matches your babysitting request to the best potential babysitters. No hassel to filter by yourself." only %}
    {% include 'pages/about_feature.html' with fa="fa-paint-brush" title="Minimalistic Design" note="We aim to give you a zen-like experience with simple interface and hide all complexity at the backend." only %}
    {% include 'pages/about_feature.html' with fa="fa-street-view" title="Short-term Babysitters" note="This is Servuno's focus. If you want to find long term nannies, try find a short-term babysitter first and then negotiate offline for long-term opportunities." only %}
    {% include 'pages/about_feature.html' with fa="fa-shopping-cart" title="On Demand" note="You only use Servuno when you need it. We'll keep everyone notified with email." only %}
  </div>
  {% if user.is_anonymous %}
    <div class="text-center"><a href="{% url 'account_signup' %}" class="btn btn-lg btn-success">Sign Up!</a></div>
  {% endif %}
{% endblock %}
