{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}About{% endblock %}

{#{% block extra_header %}#}
{#<script>#}
{#  $(function () {#}
{#    // set equal heights.#}
{#    var maxHeight = 0;#}
{#    $('.feature').each(function() {#}
{#      maxHeight = Math.max(maxHeight, $(this).height());#}
{#    });#}
{#    $('.feature').height(maxHeight);#}
{#  });#}
{#</script>#}
{#{% endblock %}#}
{##}
{% block page %}
{#  <div class="jumbotron">#}
{#    <h1>Servuno</h1>#}
{#    <p>{% include 'elements/slogan.html' %}</p>#}
{#  </div>#}
{#  <h4 class="page-header">How it Works</h4>#}
{#  <p>{% include 'elements/how_it_works.html' %}</p>#}
{#  <h4 class="page-header">Key Features</h4>#}
{#  <div class="row">#}
{#    {% include 'pages/about_feature.html' with fa="fa-exchange" title="Parents Favor Exchange" note="Want a short-term babysitter for free? Partner with other parents for favor exchange and let Servuno keep track of who owes whom." only %}#}
{#    {% include 'pages/about_feature.html' with fa="fa-beer" title="Absolutely Free" note="Frustrated with sites that let you 'sign up' for free but pay to 'use'? There is no catch 22 here in Servuno. You only pay your babysitters." only %}#}
{#    {% include 'pages/about_feature.html' with fa="fa-random" title="Smart Matching <i class='fa fa-registered'></i>" note="We have a smart algorithm that matches your babysitting request to the best potential babysitters. No hassel to filter by yourself." only %}#}
{#    {% include 'pages/about_feature.html' with fa="fa-paint-brush" title="Minimalistic Design" note="We aim to give you a zen-like experience with simple interface and hide all complexity at the backend." only %}#}
{#    {% include 'pages/about_feature.html' with fa="fa-street-view" title="Short-term Babysitters" note="This is Servuno's focus. If you want to find long term nannies, try find a short-term babysitter first and then negotiate offline for long-term opportunities." only %}#}
{#    {% include 'pages/about_feature.html' with fa="fa-shopping-cart" title="On Demand" note="You only use Servuno when you need it. We'll keep everyone notified with email." only %}#}
{#  </div>#}
  {% for message in messages %}
    {% include "includes/message.html" with message=message only %}
  {% endfor %}

  <div>
      <h2>About Us</h2>

      <p>If you are a parent of young children without family members living close by, you know it wears on you when it
          comes to babysitting. Not only does it make it difficult to get a much-needed night out, it adds stress when
          something unexpected comes up at work or when you need to run a quick, child-free errand.</p>

      <p>You are more than willing to pay a babysitter, but it would also be nice to have someone at your disposal you
          can call at a moment’s notice … especially since you’d be happy to return the favor anytime!</p>

      <p>That’s where Servuno comes in. All you have to do is create a trusted network of your friends, other parents in
          your child’s class at school, or your neighbors, and you have instant access to ask them for a quick favor
          anytime you need one. You also gain access to their trusted pool of babysitters, making it easy to pay someone
          for a night out. </p>

      <p>What are you waiting for? <a href="{% url 'tour' %}">Learn how to start building your network
          now</a>!</p>

      <h2>Meet the Team</h2>

      <h3>Daniel Zhou</h3>

      <h3>Chrissie Wywrot, Senior Marketing Strategist</h3>

      <p>Chrissie Wywrot is a PR and marketing professional living in Michigan. She is married with three children, ages
          5, 3, and 1, so her need for a babysitter is at an all-time high! When she is lucky enough to have a
          babysitter, her favorite things to do include attending concerts, sporting events, and get-togethers with
          friends.</p>

      <h2>Partners</h2>

      <p>Servuno is proud to hold a partnership with the <a
              href="https://hr.umich.edu/benefits-wellness/family/childrens-centers">University of Michigan Children’s
          Center</a> in Ann Arbor. The UM Children’s Center provides faculty, staff and students with “the highest
          quality early education and care for their children,” in part through current University students looking to
          make additional money while attending school. All eligible babysitters go through a background check before
          they can be hired.</p>
  </div>

  {% if user.is_anonymous %}
    <div class="text-center"><a href="{% url 'account_invite' %}" class="btn btn-lg btn-success">Sign Up Now!</a></div>
  {% endif %}
{% endblock %}
