{% extends "base_s.html" %}
{% load p2_tags %}

{% block title %}Dashboard{% endblock %}

{% block extra_header %}
<script type="text/javascript">
  $(document).ready(function() {
    $('[data-toggle="popover"]').popover({
      trigger: 'hover',
      placement: 'auto'
    });
  });
</script>
{% endblock %}

{% block content %}
{#  {% if target_user.is_onboard %}#}
{#  <div class="page-header">#}
{#    <h4><img class="img-circle img-50" src="{% user_picture_url target_user %}"> {% user-full-name user %}</h4>#}
{#  </div>#}
{#  {% endif %}#}
  {% url 'contract:add' as href_contract_add %}
  {% include 'pages/dashboard_link.html' with color='success' href=href_contract_add text='Find a Babysitter' help="Want a babysitter either for pay or for free (favor exchange)? Click the button and make a request." only %}

  {% url 'contract:calendar' as href_calendar %}
  {% include 'pages/dashboard_link.html' with color='success' href=href_calendar text='View Activities' help="Browse recent activies and view them in calendar." only %}

  {% url 'circle:manage_personal' as href_manage_contacts %}
  {% include 'pages/dashboard_link.html' with color='primary' href=href_manage_contacts text='Manage Contacts' help="Expand your reach by adding people to your list and joining parents circles. The more reach, the better chance you'll find a babysitter." only %}

  {% url 'account_view' as href_account %}
  {% include 'pages/dashboard_link.html' with color='info' href=href_account text='View Account' help="Review your personal info." only %}
{% endblock %}
