{% extends "base_page.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}How To | S2C2{% endblock %}

{% block page-header %}How To Videos{% endblock %}


{% block page-content %}
<div class="alert fade in alert-warning alert-dismissible">
  I realized that some video screens were truncated. I will upload new videos later.
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<h2>For Everyone</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4"><div class="thumbnail">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ucZwDAuD-IY" allowfullscreen></iframe>
      </div>
      <div class="caption">
        <h4>Introduction</h4>
        <p>The basics: signup, upload portrait picture, and send feedback.</p>
      </div>
    </div></div>
  </div>
<h2>For Teachers</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4"><div class="thumbnail">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L1WA8U_LqkI" allowfullscreen></iframe>
      </div>
      <div class="caption">
        <h4>Add Availability</h4>
        <p>This video explains how to add/edit your availability on the calendar, so that center managers could assign you to classrooms based on your available time.</p>
      </div>
    </div></div>
    <div class="col-sm-6 col-md-4"><div class="thumbnail">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eX1n7WDUdRM" allowfullscreen></iframe>
      </div>
      <div class="caption">
        <h4>Request Vacation</h4>
        <p>This video shows you how to request vacation and how to notify the center manager when you need to leave the assigned classroom.</p>
      </div>
    </div></div>
  </div>
<h2>For Managers</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4"><div class="thumbnail">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/htzhkZh1FtQ" allowfullscreen></iframe>
      </div>
      <div class="caption">
        <h4>Concept: Dynamic Grouping</h4>
        <p>This video explains the concept of "dynamic grouping", which groups small pieces of "holes" and assignments into larger ones. It might be confusing to users who are familiar with Google Calendar.</p>
      </div>
    </div></div>
    <div class="col-sm-6 col-md-4"><div class="thumbnail">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZCqXjMItnbA" allowfullscreen></iframe>
      </div>
      <div class="caption">
        <h4>Classroom Scheduling: The Basics</h4>
        <p>This video shows you the basic operations for classroom scheduling: create/edit classroom's "needs", assign teachers to fill "holes", and copy schedules to different weeks.</p>
      </div>
    </div></div>
  </div>
{% endblock %}
