{% extends 'base_l.html' %}

{% block content %}

  <div class="text-center" style=" font-size: 160px; border-bottom: 10px solid #FF9800; line-height: 1; ">
    <span class="text-primary">S</span><span class="text-danger">e</span><span class="text-warning">r</span><span class="text-primary">v</span><span class="text-success">u</span><span class="text-danger">n</span><span class="text-info">o</span>
  </div>
  <div class="text-center" style=" font-size: 40px; margin-top: 0px; ">It takes a village to raise a child</div>

{% endblock %}