{% extends 'base.html' %}

{% block extra_header %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.min.js"></script>

  <script>
    $(document).ready(function() {
      /*if (!$.cookie('servuno_usage_tour')) {
        // restart tour in 14 days.
        $.cookie('servuno_usage_tour', true, {expires: 14, path: '/'});
        window.localStorage.removeItem('tour_end');
        window.localStorage.removeItem('tour_current_step');
      }*/

      var tour = new Tour({
        steps: [
          {
            element: "#menu-item-tab-connect a.dropdown-toggle i",
            title: "First, build a network",
            content: "Add parents and babysitters you trust into your network so that you can find help when you need it. Those connections are also valuable resources to share with your friends who need help babysit.",
            placement: 'bottom'
          },
          {
            element: "#menu-item-tab-post a.dropdown-toggle i",
            title: "Then, post a job",
            content: "When you need a babysitter, post a job here and Servuno will match a babysitter from your network of parents and their babysitters. You can also offer help to another family while find a playdate for your kids.",
            placement: 'bottom'
          },
          {
            element: "#menu-item-tab-discover a.dropdown-toggle i",
            title: "Make new friends",
            content: "Don't have many connections? You can discover other parents from groups such as your children's classroom.",
            placement: 'bottom'
          },
          {
            element: "#menu-item-tab-help a.dropdown-toggle i",
            title: "Need help?",
            content: "Find resources here if you have any questions about using the site.",
            placement: 'bottom'
          },
        ],

        storage: false,
        // placement: 'bottom'
      });

      bootbox.confirm('Welcome to Servuno! Do you want a brief tour of the site?', function(result) {
        if (result) {
          $('button.navbar-toggle').click();
          tour.init();
          tour.start();
        }
      });
    });
  </script>
  <style>
  #tour-links a {
    margin-bottom: 6px;
  }
  </style>
{% endblock %}

{% block content %}
<fieldset class="min-margin-bottom" id="tour-links">
<legend>Links</legend>
<div class="row">
  <div class="col-xs-6"><a href="{% url 'dashboard' %}" class="btn btn-block btn-success"><i class="fa fa-home"></i> Home</a></div>
  <div class="col-xs-6"><a href="{% url 'about' %}" class="btn btn-block btn-success"><i class="fa fa-book"></i> About</a></div>
  <div class="col-xs-6"><a href="{% url 'account_edit' %}" class="btn btn-block btn-primary"><i class="fa fa-edit"></i> Complete Profile</a></div>
  <div class="col-xs-6"><a href="{% url 'account_picture' %}" class="btn btn-block btn-primary"><i class="fa fa-photo"></i> Upload Picture</a></div>
</div>
</fieldset>

{% if my_parents or my_memberships %}
<fieldset>
<legend>Connections</legend>
<div class="row">
  {% for m in my_parents %}
    <div class="col-xs-12 col-sm-6 col-md-4">
      {% include 'account/view/horizontal.html' with user=m.member star=m.is_star note=m.note only %}
    </div>
  {% endfor %}
  {% for m in my_memberships %}
    <div class="col-xs-12 col-sm-6 col-md-4{% if m.is_disapproved %} membership_disapproved{% endif %}">
      <div class="panel panel-default">
        <div class="panel-body">
              <span title="{% if m.is_disapproved %}Membership is reviewed but not approved. Please remove the circle from your list.{% elif m.is_pending_review %}Membership is pending for review.{% else %}{{ m.circle.description }}{% endif %}" data-toggle="tooltip" class="{% if not m.approved %}text-muted{% endif %}">
                <a href="{% url 'circle:tag_view' pk=m.circle.id %}">{% if m.is_disapproved %}<s>{{ m.circle.name }}</s>{% else %}{{ m.circle.name }}{% endif %}</a><br>
                <small class="pull-right">{% include 'elements/circle_member_count.html' with count=m.circle.count %}</small>
              </span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</fieldset>
{% endif %}
{% endblock %}