{% extends 'base.html' %}
{% load sitetree %}
{% load p2_tags %}

{% block extra_header %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.min.js"></script>

  <script>
    $(document).ready(function() {
      /*if (!$.cookie('servuno_usage_tour')) {
        // restart tour in 14 days.
        $.cookie('servuno_usage_tour', true, {expires: 14, path: '/'});
        window.localStorage.removeItem('tour_end');
        window.localStorage.removeItem('tour_current_step');
      }*/

      var tour = new Tour({
        steps: [
          {
            element: "#menu-item-discover a i",
            title: "First, build a network",
            content: "Add parents and babysitters you trust into your network so that you can find help when you need it. You can also pool your resources to help your friends.",
            placement: 'bottom'
          },
          {
            element: "#menu-item-post a i",
            title: "Then, post a job",
            content: "Post a job here and Servuno will match a babysitter or family from your network. You can also offer help to another family by facilitating a playdate for your kids.",
            placement: 'bottom'
          },
          {
            element: "#menu-item-tab-account a img",
            title: "View your profile",
            content: "Go to your account to view your existing connections and update your profile",
            placement: 'bottom'
          },
          {
            element: "#menu-item-tab-help a.dropdown-toggle i",
            title: "Need help?",
            content: "Find resources here if you have any questions about using the site.",
            placement: 'left'
          },
        ],

        storage: false,
        // placement: 'bottom'
      });

      bootbox.confirm('Welcome to Servuno! Do you want a brief tour of the site?', function(result) {
        if (result) {
          $('button.navbar-toggle').click();
          tour.init();
          tour.start();
        }
      });
    });
  </script>
  <style>
  #tour-links a {
    margin-bottom: 6px;
  }
  </style>
{% endblock %}

{% block content %}
{#<fieldset class="min-margin-bottom" id="tour-links">#}
{#<legend>Links</legend>#}
{#<div class="row">#}
{#  <div class="col-xs-6"><a href="{% url 'dashboard' %}" class="btn btn-block btn-success"><i class="fa fa-home"></i> Home</a></div>#}
{#  <div class="col-xs-6"><a href="{% url 'about' %}" class="btn btn-block btn-success"><i class="fa fa-book"></i> About</a></div>#}
{#  <div class="col-xs-6"><a href="{% url 'account_edit' %}" class="btn btn-block btn-primary"><i class="fa fa-edit"></i> Complete Profile</a></div>#}
{#  <div class="col-xs-6"><a href="{% url 'account_picture' %}" class="btn btn-block btn-primary"><i class="fa fa-photo"></i> Upload Picture</a></div>#}
{#</div>#}
{#</fieldset>#}
{##}
{#{% if my_parents or my_memberships %}#}
{#<fieldset>#}
{#<legend>Connections</legend>#}
{#<div class="row">#}
{#  {% for m in my_parents %}#}
{#    <div class="col-xs-12 col-sm-6 col-md-4">#}
{#      {% include 'account/view/horizontal.html' with user=m.member star=m.is_star note=m.note only %}#}
{#    </div>#}
{#  {% endfor %}#}
{#  {% for m in my_memberships %}#}
{#    <div class="col-xs-12 col-sm-6 col-md-4{% if m.is_disapproved %} membership_disapproved{% endif %}">#}
{#      <div class="panel panel-default">#}
{#        <div class="panel-body">#}
{#              <span title="{% if m.is_disapproved %}Membership is reviewed but not approved. Please remove the circle from your list.{% elif m.is_pending_approval %}Membership is pending for review.{% else %}{{ m.circle.description }}{% endif %}" data-toggle="tooltip" class="{% if not m.approved %}text-muted{% endif %}">#}
{#                <a href="{% url 'circle:group_view' pk=m.circle.id %}">{% if m.is_disapproved %}<s>{{ m.circle.name }}</s>{% else %}{{ m.circle.name }}{% endif %}</a><br>#}
{#                <small class="pull-right">{% include 'elements/circle_member_count.html' with count=m.circle.count %}</small>#}
{#              </span>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  {% endfor %}#}
{#</div>#}
{#</fieldset>#}
{#{% endif %}#}
  <div class="section-title">Hello, {% user-short-name current_user %}!</div>
  <p><span class="lead">Welcome to Servuno, the forum that helps parents help each other!</span></p>
  <p><span>Servuno is different from other childcare websites in that it encourages families to do favors for one another. When you're in a pinch, Servuno will contact other parents within your network to orchestrate a playdate. Parents availabile to help receive the benefit of their children being occupied and you get the babysitting help you need. It's a win-win!</p>

  <p>If you're here because you already need babysitting help, {% include 'elements/menu_link.html' with menu_item=menu_item_post only %} a job right now! Otherwise, explore the {% include 'elements/menu_link.html' with menu_item=menu_item_discover only %} section of the site to add others to your network. Remember, the larger your network, the easier it will be for you to find a babysitter at a moment's notice. You can also use {% include 'elements/menu_link.html' with menu_item=menu_item_account only %} to view your network and update your profile.</p>

  <p><strong>NOTE:</strong> Servuno is a service created for parents by parents, so we understand that your top priority is the safety of your family. We have gone to great lengths to ensure your privacy, and welcome any further suggestions you may have. Please know that membership to Servuno is invite only, and that you have the ability to hide your personal information (e.g. street address) within the forum if you choose.</p>

  <div class="section-title">Sitemap</div>
  {% sitetree_tree from 'main' %}
{% endblock %}
