{# This needs the "form" to pass in #}
{# manage members for both the parents list and the babasitters list. used in both "Connections" and onboard #}
{% load bootstrap %}
<section id="item-list-app">
{#  <div class="help-block min-margin-bottom">{% block help-message %}{% endblock %}</div>#}
  {% if full_access %}
    <div class="input-group min-margin-bottom">
      <input id="new-item" class="form-control" placeholder="Email address" autofocus>
      <span class="input-group-btn"><button class="btn btn-primary" id="new-item-add-btn"><i class="fa fa-user-plus"></i> {% block add-button-name %}Add{% endblock %}</button></span>
    </div>
  {% endif %}
  <div id="item-list" class="row"></div>
</section>

<script type="text/template" id="item-template">
  {% include 'includes/card/user_manage_clientside.html' %}
</script>

<script type="text/javascript">
function initialize_app() {
  'use strict';
  var app = {};
  app.localStorage = new Backbone.LocalStorage("item-list-app");

  app.Item = Backbone.Model.extend({
    defaults: {
      user_id: null,
      email: '',
      display_name: '',
      picture: '',
      registered: null,
      note: '',
      star: false,
      membership_id: null,
      membership_type: null,
    },
    idAttribute: 'email',
    localStorage: app.localStorage,

    // retrive additional data from server
    initialize: function() {
      var extra = {% if circle %}'?circle={{ circle.id }}'{% else %}''{% endif %};
      $.ajax({
        url: '/account/api/email/' + this.get('email') + '/' + extra,   // todo: this is hard coded. needs to change if url is changed.
        context: this,
        success: function(user_data) {
          // console.log(user_data);
          if (user_data) {
            // might need to use "cid"
            this.set('user_id', user_data.id);
            this.set('display_name', user_data.display_name);
            this.set('picture', user_data.picture);
            this.set('registered', user_data.registered);
            if (user_data.membership_id) {
              this.set('membership_id', user_data.membership_id);
            }
            if (user_data.membership_type) {
              this.set('membership_type', user_data.membership_type);
            }
            if (user_data.note) {
              this.set('note', user_data.note);
            }
            if (user_data.star) {
              this.set('star', user_data.star);
            }
          }
{#          if (!user_data.display_name) {#}
{#            this.set('display_name', this.get('email'));#}
{#          }#}
        },
        error: function() {
          this.set('display_name', this.get('email'));
        }
      });
    }
  });

  app.ItemList = Backbone.Collection.extend({
    model: app.Item,
    localStorage: app.localStorage
  });

  app.ItemView = Backbone.View.extend({
    tagName: 'div',
    className: 'col-xs-12 col-sm-6 col-md-4 col-lg-3',
    template: _.template($('#item-template').html()),

    // this renders the data attributes. see https://github.com/jashkenas/backbone/issues/1703
    attributes: function() {
      return {
        "data-email": this.model.get('email')
      };
    },

    render: function(){
      this.$el.html(this.template(this.model.toJSON()));
      return this; // enable chained calls
    },
    initialize: function(){
      this.model.on('destroy', this.remove, this);
      this.model.on('change', this.render, this);
    },
    events: {
      'click .destroy': 'destroy',
      'click .membership-edit-button': 'membership_edit'
    },
    destroy: function(){
      this.model.destroy();
    },
    membership_edit: function(){
      var $modal_container = $('#edit-membership-modal-form');
      var modal_content = $(_.template($('#edit-membership-modal-form-template').html())({
        post_url: '/connect/membership/' + this.model.get('membership_id') + '/edit/'
      }));
      modal_content.find('select[name="type"]').val(this.model.get('membership_type'));
      modal_content.find('textarea[name="note"]').val(this.model.get('note'));
      $modal_container.html(modal_content);
      $modal_container.modal('toggle');
    }
  });

  app.AppView = Backbone.View.extend({
    el: '#item-list-app',
    initialize: function () {
      this.input = this.$('#new-item');
      this.collection.on('add', this.addOne, this);
      // todo: this might pose performance issues. reuse existing data for caching.
      this.collection.reset();
      //this.collection.fetch();
    },
    events: {
      'keypress #new-item': 'createOnEvent',
      'click #new-item-add-btn': 'createOnEvent'
    },
    createOnEvent: function(e){
      var email_str = this.input.val().trim();
      if ((!e || e.type == 'click' || (e.type == 'keypress' && e.which == 13)) && email_str) { // ENTER_KEY = 13
        var email_list = email_str.split(/[,;: /]/);
        for (var i = 0; i < email_list.length; i++) {
          var email = email_list[i].trim();
          if (email && checkEmail(email)) {
            this.collection.create({
              email: email
            });
          }
        }
        this.input.val(''); // clean input box
      }
    },
    addOne: function(item){
      var view = new app.ItemView({model: item});
      this.$('#item-list').append(view.render().el);
    }
  });

  // this is the only instance
  app.appView = new app.AppView({collection: new app.ItemList()});
  return app;
}

$(document).ready(function() {
  // trigger the whole thing
  var app = initialize_app();
  var $favorite = $('#id_favorite');

  ////////// initialize list content from field.////////

  var list = app.appView.collection;
  var initial_list = $favorite.val().split('\n');

  // add stuff to the list, assuming the list is reset/empty.
  initial_list.forEach(function(e) {
    if (checkEmail(e)) {
      list.create({
        email: e
      });
    }
  });

  // now start monitor changes
  list.on('add remove', function() {
    // will not execute if .changes-notice doesn't exist
    $('.changes-notice').removeClass('hidden');
  });

  // update field before submit
  // this is different from "manage_public" where this field is always updated
  $('#item-list-form').submit(function() {
    // do create one more time.
    app.appView.createOnEvent();
    // update the field.
    var updated_list = list.map(function(m) { return m.get('email'); }).join('\n');
    $favorite.val(updated_list);
  });
});
</script>

{# membership edit modal form #}
<script type="text/template" id="edit-membership-modal-form-template">
  <div class="modal-dialog"><div class="modal-content">
    <form class="form-horizontal" method="post" action="<%= post_url %>">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Status</h4>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        {{ edit_membership_form|bootstrap_horizontal }}
      </div>
      <div class="modal-footer">
        <input type="submit" name="update" value="Submit" class="btn btn-primary" id="edit-membership-modal-form-submit">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div></div>
</script>
{# modal container #}
<div class="modal fade" id="edit-membership-modal-form"></div>

<form id="item-list-form" class="form" method="post" autocapitalize="off" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  {% block extra-block %}{% endblock %}
  {{ form|bootstrap }}
  {% block submit-block %}
  {% if full_access %}
    <p class="text-danger hidden changes-notice"><i class="fa fa-exclamation"></i> Changes are not saved.</p>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Save Changes</button>
  {#    <a class="btn btn-default" title='About "Contacts"' data-content="Add people you trust so that Servuno can help you find babysitters from them and their contacts. The more contacts you add here, the better chance you'll find a babysitter." data-toggle="popover"><i class="fa fa-question-circle"></i></a>#}
    </div>
  {% endif %}
  {% endblock %}
</form>
