{% extends 'circle/includes/list_base.html' %}
{% load p2_tags %}

{% block help-message %}Add babysitters you trust, e.g, grandparents, teenage cousins, and/or professional babysitters you used before. <strong>DO NOT add anyone you don't trust.</strong>{% endblock %}
{% block extra-block %}
<div class="shared-pool">
  <a data-toggle="collapse" href="#shared-pool-content"><i class="fa fa-arrow-circle-right"></i> View babysitters in my network</a> {# <span title="" data-toggle="tooltip"><i class="fa fa-question-circle"></i></span>#}
  <div class="collapse" id="shared-pool-content">
  {% if not pool_list %}
    <p>None.</p>
  {% else %}
    <div class="row">
    {% for uconn in pool_list %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div class="thumbnail">
        <div class="text-center">
          {% if uconn.target_user.to_puser.is_registered %}
            <span title="{{ uconn.target_user.email }}" data-toggle="tooltip" class="word-break"><img src="{% user_picture_url uconn.target_user %}" class="img-circle img-18"> <a href="{% url 'account_view' pk=uconn.target_user.id %}">{% user-full-name uconn.target_user %}</a></span>
          {% else %}
            <span class="word-break">{{ uconn.target_user.email }}</span>
          {% endif %}
        </div>
        <div class="text-center">
          {% for circle in uconn.get_circle_list %}
            <span class="label label-primary" title="{{ circle.display }}" data-toggle="tooltip">{{ circle.display|truncatechars:25 }}</span>
          {% endfor %}
        </div>
      </div></div>
    {% endfor %}
    </div>
  {% endif %}
  <div class="help-block">Babysitters added by your parents connections will be listed here. Add more parents into your network and/or encourage them to add more babysitters will increase the chance you see babysitters here.</div>
  </div>
</div>
{% endblock %}