{% load bootstrap %}
<script type="text/javascript">
  $(document).ready(function() {
    // initialize check, do once only when document is loaded.
    var initial_value =  $('input#id_circle').val();
    initial_value.split(',').forEach(function(i) {
      $('input[value="' + i + '"]').prop('checked', true);
    });

    // whenever something is clicked.
    $('input[name="circle"]').on('switchChange.bootstrapSwitch', function(e, s){
      // get all checked value
      var checked = $('input[name="circle"]:checked').map(function(_, el) {
        return $(el).val();
      }).get();

      // set the value
      $('input#id_circle').val(checked.join());

      // show notice
      $('.changes-notice').removeClass('hidden');
    });
  });
</script>

{% if form.circle_options %}
<ul class="list-group">
  {% for option in form.circle_options %}
    {% with circle=option.circle %}
      <li class="list-group-item circle-entity" data-slug="{{ circle.title|slugify }}">
        <input type="checkbox" class="switch" name="circle" value="{{ circle.id }}"{% if option.active %} checked{% endif %}>
        {{ circle.name }} {% if circle.homepage %}<a href="{{ circle.homepage }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %} <small class="text-muted">{{ circle.description }}</small> <small class="pull-right">{% include 'elements/circle_member_count.html' with count=option.count %}</small>
      </li>
    {% endwith %}
  {% endfor %}
</ul>
{% else %}
  <p>No agency found for this area.</p>
{% endif %}

<form class="form" method="post" autocapitalize="off">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% block submit-block %}
  <p class="text-danger hidden changes-notice"><i class="fa fa-exclamation"></i> Changes are not saved.</p>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Changes</button>
    <a class="btn btn-default" title="What is this for?" data-content="Join existing parents circles to reach out to people you don't know yet but are trustworthy based on common background (e.g., kids go to the same schools). Existing members will review and approve your admission if it is valid." data-toggle="popover"><i class="fa fa-book"></i> About</a>
  </div>
  {% endblock %}
</form>