{% extends "base_tree.html" %}

{% block extra_header %}
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
{{ form.media }}
<script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle="popover"]').popover({
    trigger: 'click',
    placement: 'auto'
  });
  // change to switch
  var bsOptions = defaultBootstrapSwitchOptions();
  $('input.switch').bootstrapSwitch(bsOptions);
});
</script>
{% block more_header %}{% endblock %}
{% endblock %}

{% block content %}
  <div class="well">{% block help-message %}{% endblock %}</div>
  {% block manage-block %}{% endblock %}
{% endblock %}