{% extends "base_trunk.html" %}

{% block extra_header %}
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
{{ form.media }}
<script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle="popover"]').popover({
    trigger: 'click',
    placement: 'auto'
  });
  // change to switch
  var bsOptions = defaultBootstrapSwitchOptions();
  $('input.switch').bootstrapSwitch(bsOptions);
});
</script>
{% block more_header %}{% endblock %}
{% endblock %}

{% block title %}Build a Network{% endblock %}

{% block content %}
  <ul class="nav nav-pills nav-justified min-margin-bottom">
    <li data-active-url="{% url 'circle:parent' %}"><a href="{% url 'circle:parent' %}">Connect to Parents</a></li>
    <li data-active-url="{% url 'circle:sitter' %}"><a href="{% url 'circle:sitter' %}">Add Babysitters</a></li>
  </ul>
  <div class="well">{% block help-message %}{% endblock %}</div>
  {% block manage-block %}{% endblock %}
{% endblock %}