{% extends "base_page.html" %}

{% block extra_header %}
{{ form.media }}
<script type="text/javascript">
$(document).ready(function() {
  var path = window.location.pathname;
  $('div.circle-manage-sidebar a[href="'+ path +'"]').addClass('active');
});
</script>
{% block more_header %}{% endblock %}
{% endblock %}

{% block title %}Manage circles{% endblock %}
{% block page-header %}Manage circles{% endblock %}

{% block page-content %}
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group circle-manage-sidebar">
        <a href="{% url 'circle:manage_public' %}" class="list-group-item">
          <h4 class="list-group-item-heading">Manage public circles</h4>
          <p class="list-group-item-text">Manage public circles I am affiliated with.</p>
        </a>
        <a href="{% url 'circle:manage_personal' %}" class="list-group-item">
          <h4 class="list-group-item-heading">Manage favorite list</h4>
          <p class="list-group-item-text">Manage the list of people you trust to babasit.</p>
        </a>
        <a href="{% url 'circle:manage_loop' %}" class="list-group-item">
          <h4 class="list-group-item-heading">Update my loop</h4>
          <p class="list-group-item-text">Manage people for whom I am a favorite contact.</p>
        </a>
      </div>
    </div>

    <div class="col-sm-8">
      {% block manage-block %}{% endblock %}
    </div>
  </div>
{% endblock %}