{% extends 'base.html' %}
{% load account_tags %}
{% load p2_tags %}
{% load bootstrap %}

{% block content-introduction %}The more connections you have in your network, the better chance you will find someone to babysit when you need help. Expand your network by directly enter people in <strong><i class="fa fa-users"></i> Connect</strong> or meet new people in <strong><i class="fa fa-globe"></i> Discover</strong>.{% endblock %}

{% block content %}
  <div class="page-header">
    <h5>Parents</h5>
  </div>
  {% if my_parents %}
    <div class="row">
      {% for m in my_parents %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'account/view/horizontal.html' with user=m.member star=m.is_star note=m.note only %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="">None.</p>
  {% endif %}

  <div class="page-header">
    <h5>Paid Babysitters</h5>
  </div>
  {% if my_sitters %}
    <div class="row">
      {% for m in my_sitters %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'account/view/horizontal.html' with user=m.member star=m.is_star note=m.note only %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="">None.</p>
  {% endif %}
{% endblock %}
