{% extends "circle/base.html" %}

{% block content-title %}Build Your Babysitting Network{% endblock %}

{% block content-introduction %}
  <p>This is the place for you to add all of your trusted babysitters for easy reach-out when you need someone at a moment’s notice! Add anyone you can think of – grandparents, friends, professional babysitters – as long as they are someone you can trust.</p>
  <p>Once you’ve added everyone, click on the star icon to add notes or upgrade that person to a preferred babysitter in your network.</p>
{% endblock %}

{% block content %}
  {% include 'circle/includes/list_sitter.html' %}
{% endblock %}
