{% load p2_tags %}
{% load static %}
{% load account_tags %}
{% load tz %}

<div class="engagement panel panel-{{ engagement.display_status.color }} hover-pointer engagement-headline" data-href="{{ engagement.get_link }}">
{#  <div class="panel-heading panel-title">Upcoming</div>#}
  <div class="panel-body">
    <div class="row vertical-align">
      <div class="col-xs-3 center-block">
      {# only show "client" if the main user is "server", and vice versa #}
      {% if engagement.is_main_match %}
        {% include 'account/view/compact.html' with user=engagement.initiate_user icon='elements/icon_serve.html' color=engagement.display_status.color only %}
      {% else %}
        {% if engagement.target_user %}
          {% include 'account/view/compact.html' with user=engagement.target_user icon='elements/icon_find.html' color=engagement.display_status.color only %}
        {% else %}
          {% include 'account/view/compact.html' with user=None hide_name=True icon='elements/icon_find.html' color=engagement.display_status.color only %}
        {% endif %}
      {% endif %}
      </div>

      <div class="col-xs-9">
        <h4 class="text-center">{{ engagement.contract.event_start|timeuntil }}</h4>
        <ul class="list-inline text-center">
          <li><i class="fa fa-clock-o"></i> <strong>{{ engagement.contract.event_start|date:'H:i, M. j' }}</strong></li>
          <li>{% include 'contract/contract_view/contract_price.html' with contract=engagement.contract %}</li>
        </ul>
        {% if engagement.contract.description %}
          <p class="text-center">{{ engagement.contract.description|truncatechars:100 }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>