{% extends "base.html" %}

{% block title %}New User Sign UP | Servuno{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block template_extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>

{{ form.media }}
<script type="text/javascript">
$(document).ready(function() {
  var path = window.location.pathname;
  $('div.onboard-sidebar a[href="'+ path +'"]').addClass('active');

  // change to switch
  var bsOptions = defaultBootstrapSwitchOptions();
  $('input.switch').bootstrapSwitch(bsOptions);

  // hide none active tab in xs.
  var hide_tab = function() {
    if (is_viewport_xs()) {
      $('#onboard-pane .panel-heading li:not(.active)').hide();
    }
  };
  hide_tab();
  // this doesn't show(unhide) the other items.
  //$(window).resize(hide_tab);
});
</script>
{% endblock %}

{% block panel-attributes %}id="onboard-pane"{% endblock %}

{% block content-header %}
  <ul class="nav nav-tabs nav-justified">
    {% for name, meta in steps_meta.items %}
{#      <li class="{% if meta.position == 0 %}active{% elif meta.position > 0 %}disabled{% endif %}" data-slug="step-{{ forloop.counter }}"><a href="{{ meta.url }}">Step {{ forloop.counter }}<span class="visible-xs-inline">/{{ steps_meta|length }}</span> <span class="hidden-xs">- {{ meta.title }}</span> <i class="fa fa-angle-double-right"></i></a></li>#}
      <li class="{% if meta.position == 0 %}active{% elif meta.position > 0 %}disabled{% endif %}" data-slug="step-{{ forloop.counter }}"><a href="{{ meta.url }}">Step {{ forloop.counter }}. {{ meta.title }} <i class="fa fa-angle-double-right"></i></a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content-introduction %}{% if step_title %}<span class="lead">{{ step_title }}</span> {{ step_note }}{% endif %}{% endblock %}
