{% extends "account/onboard/base.html" %}
{% load bootstrap %}
{% block content %}
<form class="form-horizontal" method="post" autocapitalize="off" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  {% if form %}{{ form|bootstrap_horizontal:'col-sm-3' }}{% endif %}
  {% block submit-block %}
    <div class="form-group"><div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-primary" type="submit">Next <i class="fa fa-angle-double-right"></i></button>
    </div></div>
  {% endblock %}
</form>
{% endblock %}
