{% extends "account/onboard/base.html" %}

{% block step-block %}
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    Add people to your personal circle. When you find a babysitter, these people (and people in their cirlces) will be notified. We are using the Servuno SmartMatching algorithm to select the best people to contact.
  </div>
  {% include 'account/onboard/includes/manage_personal.html' %}
{% endblock %}
