{% extends 'account/onboard/onboard_base.html' %}
{% load bootstrap %}

{% block step_header %}
<script type="text/javascript">
$(document).ready(function() {
  // whenever something is clicked.
  $('input[name="circle"]').change(function(){
    // get all checked value
    var checked = $('input[name="circle"]:checked').map(function(_, el) {
      return $(el).val();
    }).get();

    // set the value
    $('input[name="subscribe-circle"]').val(checked.join());
  });
});
</script>
{% endblock %}

{% block onboard-step %}
  <div class="panel-group">
    {% for group in form.circle_options %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            {{ group.title }}<br>
            <small>{{ group.description }}</small>
          </h4>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {% for circle in group.list %}
              <li class="form-group">
                <div class="checkbox">
                  <label> <input type="checkbox" name="circle" value="{{ circle.id }}"> {{ circle.title }} <div class="help-block">{{ circle.description }}</div> </label>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>

  <form class="form-horizontal" method="post" autocapitalize="off">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form|bootstrap_horizontal:'col-sm-4' }}

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        {% if wizard.steps.prev %}
          <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">< Previous</button>
        {% endif %}
        {% if wizard.steps.next %}
          <button class="btn btn-primary" type="submit">Next ></button>
        {% else %}
          <button class="btn btn-primary" type="submit">Sign up!</button>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}