{% extends "account/onboard/base.html" %}
{% load p2_tags %}
{% load bootstrap %}

{% block extra_header %}
  <script>
    $(document).ready(function() {
      var $input_box = $('#new-item');
      var $input_button = $('#new-item-add-btn');

      // handle add
      $input_button.click(function() {
        var val = $input_box.val();
        $.post("{% url 'circle:membership_activate' pk=circle.id %}", {email_field: val}, function(data) {
          if (data['processed'] && data['processed'].length > 0) {
            window.location.reload();
          }
        });
        $input_box.val('');
      });
      // bind "enter" as well
      $input_box.keyup(function(e) {
        if(e.keyCode == 13) {
          $input_button.trigger('click');
        }
      });

      $('.card .destroy').click(function(e) {
        e.stopPropagation();
        var $this = $(this);
        var url = $this.data('url');
        if (url) {
          $.post(url, function(data) {
            if (data['success']) {
              //window.location.reload();
              $this.parents('.card').parent().remove();  // 2nd parent is for the column
            }
          });
        }
      });

      // resizeCards();
    });
  </script>
{% endblock %}

{% block content %}
  <div class="input-group min-margin-bottom">
    <input id="new-item" class="form-control" placeholder="Email address" autofocus>
    <span class="input-group-btn"><button class="btn btn-primary" id="new-item-add-btn"><i class="fa fa-user-plus"></i> {% block add-button-name %}Add{% endblock %}</button></span>
  </div>

  {% if not list_membership %}
    <p>None.</p>
  {% else %}
    <div class="row card-height-fix">
      {% for membership in list_membership %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'includes/card/membership.html' with membership=membership user=membership.member.to_puser only %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div><a href="{{ next_step_url }}" class="btn btn-primary">Next <i class="fa fa-angle-double-right"></i></a></div>
{% endblock %}
