{% load s2c2_tags %}
{% if user.is_anonymous %}
  <li><a href="{% url 'user:login' %}"><i class="fa fa-sign-in"></i> Login</a></li>
  <li><a href="{% url 'user:signup' %}"><i class="fa fa-edit"></i> Signup</a></li>
{% else %}
  {% with center_count=user.profile.centers.count %}
    {% if center_count == 1 %}
      {% with center=user.profile.centers.first %}
        <li><a href="{% url 'cal:center' cid=center.id %}" title="{{ center|name }}">{% icon center %} My Center</a></li>
      {% endwith %}
    {% elif center_count > 1 %}
      <li class="dropdown user-centers">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% icon 'center' %} My Centers<span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for center in user.profile.centers.all %}
            <li><a href="{% url 'cal:center' cid=center.id %}">{{ center|name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endwith %}

  {% with classroom_count=current_user_profile.get_active_classrooms|length %}
    {% if classroom_count == 1 %}
      {% with classroom=current_user_profile.get_active_classrooms.0 %}
        <li><a href="{% url 'cal:classroom' cid=classroom.pk %}" title="{{ classroom|name }}">{% icon 'classroom' %} My Classroom</a></li>
      {% endwith %}
    {% elif classroom_count > 1 %}
      <li class="dropdown user-classrooms">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% icon 'classroom' %} My Classrooms<span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for classroom in current_user_profile.get_active_classrooms %}
            <li><a href="{% url 'cal:classroom' cid=classroom.pk %}">{{ classroom|name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endwith %}

  <li{% if not current_user_profile.is_center_staff %} class="disabled"{% endif %}><a href="{% url 'cal:staff' %}"><i class="fa fa-calendar"></i> My Calendar</a></li>

  <li><a href="{% url 'log:notification' %}"><i class="fa fa-wifi"></i> My Notifications <span class="badge">{{ notification_count|default:'0' }}</span></a></li>

  <li class="dropdown user-admin">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{% url 'user:profile' %}">{% icon user %} {{ user.username }} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 'user:edit' %}">{# <i class="fa fa-edit"></i> #}Edit profile</a></li>
      <li><a href="{% url 'user:picture' %}">{# <i class="fa fa-edit"></i> #}Upload picture</a></li>
      <li><a href="{% url 'user:password_change' %}">{# <i class="fa fa-key"></i>  #}Change password</a></li>
      {#<li><a href="{% url 'user:pref' %}">Edit preferences</a></li>#}
      <li><a href="{% url 'user:logout' %}">{# <i class="fa fa-sign-out"></i>  #}Logout</a></li>
    </ul>
  </li>
{% endif %}