{% load account_tags %}
{% if user.is_anonymous %}
  <li><a href="{% url 'account_login' %}"><i class="fa fa-sign-in"></i> Login</a></li>
  <li><a href="{% url 'account_signup' %}"><i class="fa fa-edit"></i> Signup</a></li>
{% else %}
  <li class="dropdown user-admin">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#"><i class="fa fa-user"></i> {% user_display user %} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 'account_view' %}">View account</a></li>
      <li><a href="{% url 'account_edit' %}">Edit account</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'account_favorite' %}">Manage favorites</a></li>
      <li><a href="{% url 'account_circle' %}">Manage circles</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'account_logout' %}">Logout</a></li>
    </ul>
  </li>
{% endif %}