{% extends "base.jinja2" %}
{% load bootstrap %}

{% block title %}Edit{% endblock %}

{% block page %}
  <!--div class="alert alert-info" role="alert">Please signup below. You have to use the invitation code.</div-->
  <div class="panel panel-primary">
    <div class="panel-heading">Edit - {{ edit_user.username }}</div>
    <div class="panel-body">
      <form class="form-horizontal" role="form" method="post" action="{% url 'user:edit' %}">
        {% csrf_token %}
{#        {{ form_password|bootstrap_horizontal }}#}
{#        {{ form_user|bootstrap_horizontal }}#}
{#        {{ form_staff|bootstrap_horizontal }}#}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
