{% extends "base.jinja2" %}
{% load bootstrap %}

{% block title %}Login{% endblock %}

{% block page %}
<div class="alert alert-info" role="alert">Please login below.</div>
<form class="form-horizontal" role="form" method="post" action="{% url 'user:login' %}">
  {% csrf_token %}
  {{ form|bootstrap_horizontal }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg">Log in</button> or <a href="{% url 'user:signup' %}">sign up</a>
    </div>
  </div>
</form>
{% endblock %}
