{% extends "base.jinja2" %}
{% load bootstrap %}

{% block title %}Login{% endblock %}

{% block page %}
<!--div class="alert alert-info" role="alert">Please login below.</div-->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Login</div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="{% url 'user:login' %}">
          {% csrf_token %}
          {{ form|bootstrap_horizontal:'col-md-4' }}
          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <button type="submit" class="btn btn-primary btn-lg">Log in</button>
              or <a href="{% url 'user:signup' %}">sign up</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
