{% extends "base.jinja2" %}
{% load bootstrap %}

{% block title %}{{ title }}{% endblock %}

{% block page %}
{% if validlink %}
  <div class="panel panel-primary">
    <div class="panel-heading">Reset password for "{{ form.user.username }}"</div>
    <div class="panel-body">
      <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <div class="well text-danger">You link is not valid.</div>
{% endif %}
{% endblock %}
