{# user connections #}
{% extends 'includes/card/user_base.html' %}
{% load p2_tags %}

{% block card-note %}
  {% for connected_circle in user_connection.get_circle_list %}
    {% if connected_circle.is_type_public %}
      <a href="{% url 'circle:group_view' pk=connected_circle.id %}"><span class="label label-default">{{ connected_circle.display }}</span></a>
    {% elif connected_circle.is_type_personal %}
      <a href="{% url 'account_view' pk=connected_circle.owner.id %}"><span class="label label-default">{{ connected_circle.display }}</span></a>
    {% else %}
      <span class="label label-default">{{ connected_circle.display }}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block card-footer %}
  <div class="text-right">
{#    <a href="{% url 'shout:user' uid=user.id %}" class="btn btn-xs btn-primary" data-expandable-text="Message"><i class="fa fa-bullhorn"></i></a>#}
    {% block extra-command %}{% endblock %}
  </div>
{% endblock %}
