{# user connections #}
{% extends 'includes/card/user_base.html' %}
{% load p2_tags %}

{% block card-note %}
  {% for connected_circle in user_connection.get_circle_list %}
    <span class="label label-default">{{ connected_circle.display }}</span>
  {% endfor %}
{% endblock %}

{% block card-footer %}
  <div class="text-right">
{#    <a href="{% url 'shout:user' uid=user.id %}" class="btn btn-xs btn-primary" data-expandable-text="Message"><i class="fa fa-bullhorn"></i></a>#}
    {% block extra-command %}{% endblock %}
  </div>
{% endblock %}
