{# user connections #}
{% extends 'includes/card/user_base.html' %}
{% load p2_tags %}

{% block container-attributes-extra %}data-match-id={{ match.id }}{% endblock %}

{% block card-note %}

  {% with membership=match.to_user_connection.find_personal_membership %}
    {% if membership.active %} {# if users are connected, then show relationshiop #}
      {% for relationship_type in membership.get_relationship_type %}
        <span class="label label-success">{{ relationship_type.label }}</span>
      {% endfor %}
    {% else %} {# if users are not connected, show membership connection #}
      {% for connected_circle in match.to_user_connection.get_circle_list %}
        <span class="label label-warning">{{ connected_circle.display }}</span>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% include 'elements/user_connection_interactions.html' with user_connection=match.to_user_connection only %}
  {% if match.response %}<p>{{ match.response }}</p>{% endif %}
{% endblock %}

{% block card-footer %}
  {% if match.is_accepted and match.contract.is_active %}
    <button class="btn btn-success btn-block" name="change-status" value="confirm" data-match-id="{{ match.id }}">
      <i class="fa fa-check"></i> Confirm
    </button>
  {% else %}
      <div class="text-center">
        {% with status=match.display_status %}
          <span class="lead text-{{ status.color }}" title="{{ status.explanation }}" data-toggle="tooltip">{{ status.label }}</span>
        {% endwith %}
      </div>
  {% endif %}
{% endblock %}