{% extends 'includes/card/membership.html' %}
{% load p2_tags %}

{% block card-footer %}<div class="horizontal-justified">
  <div>
    <span class="text-muted" title="The user has requested to be added to your network." data-toggle="tooltip"><i class="fa fa-hourglass-start"> </i> Request</span>
  </div>
  <div class="btn-group btn-group-xs">
    <span class="btn btn-success ajax-post-refresh" data-post-url="{% url 'circle:membership_approve' pk=membership.id %}" data-expandable-text="Approve"><i class="fa fa-check"></i></span>
    <span class="btn btn-danger ajax-post-confirm-refresh" data-post-url="{% url 'circle:membership_disapprove' pk=membership.id %}" data-post-confirm-message="Are you sure you want to block this user?" data-expandable-text="Block"><i class="fa fa-times"></i></span>
  </div>
</div>{% endblock %}
