{% extends 'includes/card/user_base.html' %}
{% load p2_tags %}

{% block container-attributes-extra %}data-membership-id="{{ membership.id }}"{% endblock %}

{% block card-title-badge %}
  {% if membership.as_admin or membership.as_favorite %}<span class="text-warning"><i class="fa fa-star"></i></span>{% endif %}
{% endblock %}

{#{% block user-name-extra-classes %}{% if membership.is_pending_approval %}text-muted{% endif %}{% endblock %}#}

{% block card-note %}{% if membership.note %}<span class="text-muted">{{ membership.note }}</span>{% endif %}{% endblock %}

{% block card-footer %}<div class="horizontal-justified">
  <div>
    {% if membership.is_pending_approval %}<span class="text-muted" title="The user has not approved your request to be added in your network yet." data-toggle="tooltip"><i class="fa fa-hourglass-start"> </i> Pending</span>{% endif %}
  </div>
  <div>
    <a href="{% url 'shout:user' uid=user.id %}" class="btn btn-xs btn-primary" data-expandable-text="Message"><i class="fa fa-bullhorn"></i></a>
    {% if membership.is_valid_group_membership%}
      {% if membership.is_role_parent %}
        <a href="{% url 'circle:parent_add' uid=user.id %}" class="btn btn-xs btn-success" data-expandable-text="Add"><i class="fa fa-user-plus"></i></a>
      {% elif membership.is_role_sitter %}
        <a href="{% url 'circle:sitter_add' uid=user.id %}" class="btn btn-xs btn-success" data-expandable-text="Add"><i class="fa fa-user-plus"></i></a>
      {% endif %}
    {% endif %}
    {% if allow_edit %}
      {% if membership.is_valid_parent_relation %}
        <a href="{% url 'circle:membership_edit_parent' pk=membership.id %}" class="btn btn-xs btn-warning" data-expandable-text="Edit"><i class="fa fa-edit"></i></a>
        <span class="btn btn-xs btn-danger destroy" data-expandable-text="Unfriend" data-url="{% url 'circle:membership_deactivate' pk=membership.id %}"><i class="fa fa-trash"></i></span>
      {% elif membership.is_valid_sitter_relation %}
        <a href="{% url 'circle:membership_edit_sitter' pk=membership.id %}" class="btn btn-xs btn-warning" data-expandable-text="Edit"><i class="fa fa-edit"></i></a>
        <span class="btn btn-xs btn-danger destroy" data-expandable-text="Remove" data-url="{% url 'circle:membership_deactivate' pk=membership.id %}"><i class="fa fa-trash"></i></span>
      {% elif membership.is_valid_group_membership %}
        {% if membership.is_pending_approval %}
          <span class="btn btn-xs btn-success ajax-post-refresh" data-post-url="{% url 'circle:membership_approve' pk=membership.id %}" data-expandable-text="Approve"><i class="fa fa-check"></i></span>
          <span class="btn btn-xs btn-danger ajax-post-refresh" data-post-url="{% url 'circle:membership_disapprove' pk=membership.id %}" data-expandable-text="Block"><i class="fa fa-times"></i></span>
        {% else %}
          <a href="{% url 'circle:membership_edit_group' pk=membership.id %}" class="btn btn-xs btn-warning" data-expandable-text="Edit"><i class="fa fa-edit"></i></a>
          <span class="btn btn-xs btn-danger destroy" data-expandable-text="Remove" data-url="{% url 'circle:membership_deactivate' pk=membership.id %}"><i class="fa fa-trash"></i></span>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
</div>{% endblock %}
