{% extends "base_lean.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block extra_header %}
{{ form.media }}
<script src='{% static 'fullcalendar/lib/moment.min.js' %}'></script>
<script type="text/javascript">
  $(document).ready(function() {
    // enable datetimepicker
    $('.datetimepicker-control').datetimepicker({
      format: 'MM/DD/YYYY HH:mm',
      minDate: moment().subtract(1, 'hours'),
      stepping: 10,
      useCurrent: true,
      //sideBySide: true,
      //showTodayButton: true,
      keepInvalid: true,
      //allowInputToggle: true,
      showClose: true,
    });

    // sync end date if start date is changed.
    var $event_start = $('#id_event_start');
    var $event_end = $('#id_event_end');
    $event_start.focusout(function () {
      if ($event_start.val() && !$event_end.val()) {
        $event_end.val($event_start.val());
      }
    });
    $event_end.focusout(function () {
      if ($event_end.val() && !$event_start.val()) {
        $event_start.val($event_end.val());
      }
    });

    var $price = $('#id_price');
    var handlePriceInfo = function() {
      var start = $event_start.val(), end = $event_end.val(), price = $price.val();
      if (start && end && price) {
        $.get('{% url "contract:preview_query" %}', {start: start, end: end, price: price}, function(result){
          if (result['success']) {
            var rate = result['rate'] == 0 ? 'favor exchange' : '$' + result['rate'] + '/hour';
            $('#price-info').text(rate + ', ' + result['length']);
          } else {
            $('#price-info').text('');
            console.log(result);
          }
        });
      }
    };

    // enable handle. datetimepicker "change" event doesn't seem to work.
    // keypress doesn't to seem work well

    handlePriceInfo();
    //$event_start.change(handlePriceInfo);
    $event_start.parent().on('dp.change', handlePriceInfo);
    $event_start.keyup(handlePriceInfo);
    //$event_end.change(handlePriceInfo);
    $event_end.parent().on('dp.change', handlePriceInfo);
    $event_end.keyup(handlePriceInfo);
    $price.change(handlePriceInfo);
    $price.keyup(handlePriceInfo);

  });
</script>
{% endblock %}

{% block title %}Find help{% endblock %}

{% block page-content %}
  <form class="form form-horizontal" method="post">
    {% csrf_token %}
{#    {{ form|bootstrap_horizontal }}#}

    {% include 'form_includes/form_errors.html' %}
    {% include 'form_includes/hidden_fields.html' %}

    <div class="form-group{% if form.event_start.errors or form.event_end.errors %} has-error{% endif %}">
      <label class="control-label required col-sm-2">Date &amp; Time</label>
      {% with field=form.event_start %}
      <div class="col-sm-5">
        <div class="input-group date datetimepicker-control">
          {{ field }}
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
        {% include 'form_includes/field_errors.html' %}
        {% include 'form_includes/field_help_text.html' %}
      </div>
      {% endwith %}
      {% with field=form.event_end %}
      <div class="col-sm-5">
        <div class="input-group date datetimepicker-control">
          {{ field }}
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
        {% include 'form_includes/field_errors.html' %}
        {% include 'form_includes/field_help_text.html' %}
      </div>
      {% endwith %}
{#      <div class="col-sm-offset-2 col-sm-10">#}
{#        <p class="help-block">Specify the start and end date/time when you need to be served.</p>#}
{#      </div>#}
    </div>

    {% with field=form.price %}
      <div class="form-group{% include 'form_includes/field_container_error_class.html' %}">
        <label class="control-label required col-sm-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            {{ field }}
          </div>
        </div>
        <div class="col-sm-7">
          <p class="text-x-large pull-right"><span class="label label-default" id="price-info"></span></p>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          {% include 'form_includes/field_errors.html' %}
          {% include 'form_includes/field_help_text.html' %}
        </div>
      </div>
    {% endwith %}

    {{ form.description|bootstrap_horizontal }}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        {% if not form.instance.id %}
          <button type="submit" name="submit" class="btn btn-primary">Send to My Contacts</button>
          <a href="javascript:history.back();" class="btn btn-default">Back</a>
          <div class="help-block">By clicking the button, your contacts (in your personal list and parents circles) will be notified by email.</div>
        {% else %}
          <button type="submit" name="submit" class="btn btn-primary">Update</button>
          <a href="javascript:history.back();" class="btn btn-default">Back</a>
          <div class="help-block">People who agreed to help will receive notifications about the update.</div>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}
