{% extends "base.html" %}
{% load sitetree %}
{% load p2_tags %}

{% block extra_header %}
  {% include 'includes/js_grid.html' %}
{% endblock %}

{% block content %}<div class="row">
{#  {% sitetree_children of current_item for sitetree template "sitetree/tree.html" %}#}
  {# my jobs #}
  <div class="col-xs-12 col-sm-6">
    <div class="section-title horizontal-justified">
      <span>My Posts</span>
      <span class="btn-group">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> New Post <span class="caret"></span></button>
{#      {% sitetree_children of sitetree_item_post for menu template "sitetree/breadcrumbs_dropdown.html" %}#}
{#      {% current-menutree-dropdown %}#}
{#      {% sitetree_menu from "main" include "post" template 'sitetree/breadcrumbs_dropdown.html' %}#}
        <ul class="dropdown-menu">
          {% for menu_item in post_menu_items %}
            <li><a href="{{ menu_item.1 }}">{{ menu_item.0 }}</a></li>
          {% endfor %}
        </ul>
      </span>
    </div>
    {% for contract in list_contract %}
      {% include 'contract/engagement_view/card.html' with engagement=contract.to_engagement only %}
    {% empty %}
      <p>No post found.</p>
    {% endfor %}
  </div>

  {# others' jobs #}
  <div class="col-xs-12 col-sm-6">
    <div class="section-title">
      <span>Other Parents' Posts</span>
    </div>
    {% for match in list_match %}
      {% include 'contract/engagement_view/card.html' with engagement=match.to_engagement only %}
    {% empty %}
      <p>No post found.</p>
    {% endfor %}
  </div>
</div>{% endblock %}

{#{% block page-content %}#}
{#  {% if engagements %}#}
{#    {% for engagement in engagements %}#}
{#      {% include 'contract/engagement_view/full.html' with engagement=engagement %}#}
{#    {% endfor %}#}
{#  {% else %}#}
{#    <p>You don't have any activities yet. To find a babysitter, click here: <a class="btn btn-primary" href="{% url 'contract:add' %}">Find</a></p>#}
{#  {% endif %}#}
{#{% endblock %}#}
