{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load p2_tags %}

{% block extra_header %}
<script type="text/javascript">
$(document).ready(function() {
  $('button[name="match"]').click(function() {
    $.post($(this).data('url'), function(data) {
      location.reload();
    });
  });

  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}

{% block page %}
  {% include 'contract/includes/contract_summary.html' with contract=contract %}
  <hr>
  <div class="row">
    <div class="col-xs-12">
      {% include 'contract/includes/match_view_include.html' with match=match contract=contract %}
    </div>
  </div>
{% endblock %}
