{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load p2_tags %}

{% block extra_header %}
<script type="text/javascript">
  $(document).ready(function() {
    $('button[name="change-status"]').click(function() {
      var op = $(this).val();
      var post_data = {op: op};
      if (op == 'confirm') {
        post_data['match_id'] = $(this).data('match-id');
      }
      $.post("{% url 'contract:change_status' pk=contract.id %}", post_data, function(data) {
        location.reload();
      });
    })
  });
</script>
{% endblock %}

{% block page %}
<div class="row">
  <div class="col-sm-12">
    <h4>Contract: {{ contract.id }}</h4>
    <p>{{ contract.initiate_user.email }}</p>
    <p>{{ contract.confirmed_match.target_user.email|default:"N/A" }}</p>
    <p>Start: {{ contract.event_start }}</p>
    <p>End: {{ contract.event_end }}</p>
    <p>Total: ${{ contract.price }}</p>
    <p>Hourly: ${{ contract.hourly_rate }}</p>
    <p>Note: {{ contract.description }}</p>
    <p>Status: {% include 'elements/contract_status_label.html' with status=contract.status %}</p>
  </div>
</div>
<div class="row">
{% for match in matches %}
  <div class="col-xs-6 col-sm-3 col-lg-2">
    <h5><a href="{% url 'contract:match_view' pk=match.id %}" >Match: {{ match.id }}</a></h5>
    <p>{{ match.target_user.email }}</p>
    {% for circle in match.circles.all %}
      <p class="badge badge-default">{{ circle.display }}</p>
    {% endfor %}
    <h2><span class="label label-default">{% match-status match.status %}</span></h2>
    <p>
      {% if match.is_accepted and contract.is_active %}
        <button class="btn btn-primary" name="change-status" value="confirm" data-match-id="{{ match.id }}">Confirm</button>
      {% endif %}
    </p>
  </div>
{% endfor %}
</div>
<hr>
<div>
{% if contract.is_confirmed %}
  <button class="btn btn-danger" name="change-status" value="revert">Revert</button>
{% endif %}
<button class="btn btn-danger" name="change-status" value="cancel">Cancel</button>
</div>
{% endblock %}
