{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load p2_tags %}

{% block extra_header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  // update status
  $('button[name="change-status"]').click(function() {
    var op = $(this).val();
    var post_data = {op: op};
    if (op == 'confirm') {
      post_data['match_id'] = $(this).data('match-id');
    }

    // for revert, do the confirmation box.
    if (op == 'revert' || op == 'cancel') {
      messages = {
        revert: 'This operation will undo the confirmed request. The babysitter will be notified. You can choose another babysitter.',
        cancel: 'This operation cannot be undone.'
      }
      bootbox.confirm({
        title: 'Are you sure?',
        message: messages[op],
        buttons: {
          cancel: {label: 'No'},
          confirm: {label: 'Yes'}
        },
        callback: function(result) {
          if (result) {
            $.post("{% url 'contract:change_status' pk=contract.id %}", post_data, function(data) {
              location.reload();
            });
          }
        }
      });
    }
    else {
      $.post("{% url 'contract:change_status' pk=contract.id %}", post_data, function(data) {
        location.reload();
      });
    }
  });
});
</script>
{% endblock %}

{% block page %}
{% include 'contract/includes/contract_summary.html' with contract=contract %}
<hr>
<div class="row">
{% if matches %}
{% for match in matches %}
  <div class="col-xs-12 col-sm-6 col-md-4">
    {% include 'contract/includes/match_preview.html' with match=match contract=contract %}
  </div>
{% endfor %}
{% else %}
  <div class="col-sm-12">We will forward your request to your personal and public circles momentarily.</div>
{% endif %}
</div>

<div class="well text-center">
  {% if contract.is_confirmed and not contract.is_event_expired %}
    <button class="btn btn-lg btn-warning" name="change-status" value="revert">Undo</button>
    <button class="btn btn-default" name="change-status" value="cancel">Cancel</button>
  {% elif contract.is_active and not contract.is_event_expired %}
    <button class="btn btn-lg btn-warning" name="change-status" value="edit">Edit</button>
    <button class="btn btn-default" name="change-status" value="cancel">Cancel</button>
  {% elif contract.is_event_expired and contract.is_confirmed %}
    <button class="btn btn-lg btn-success" name="change-status" value="succeed">Successful</button>
    <button class="btn btn-danger" name="change-status" value="fail">Failed</button>
  {% else %}
    <a class="btn btn-default" href="/">Back</a>
  {% endif %}
</div>

{% endblock %}
