body {
  padding-top: 64px;
}

.form-group .control-label.required:after {
  content: " *";
  color: red;
}

.navbar-brand img {
  max-height: 60px;
  max-width: 50px;
}

#page-summary table * { border-top: none; }
#page-summary table { margin-bottom: 0; }