body {
  padding-top: 64px;
}

.form-group .control-label.required:after {
  content: " *";
  color: red;
}

.navbar-brand img {
  max-height: 60px;
  max-width: 50px;
}

#page-summary table * { border-top: none; }
#page-summary table { margin-bottom: 0; }
#page-summary:empty { display: none; }

#page-error-message:empty { display: none; }

.tab-pane { padding-top: 12px; }

.multiple-checkbox ul.list-inline li label { font-weight: normal; }

.offer-remove:hover, .need-remove:hover {
  cursor: pointer;
  color: red;
}

/******* for comment ********/

.commentList {
  padding:0;
  list-style:none;
  /*max-height:200px;
  overflow:auto;*/
}
.commentList li {
  margin:0;
  margin-top:10px;
}
.commentList li > div {
  display:table-cell;
}
.commenterImage {
  width:30px;
  margin-right:5px;
  height:100%;
  float:left;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.commentText p {
  margin:0;
}
.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}

/********************************* special settings for print **********************************/

@media print {
  div.page-footer { display: none; }
  a[href]:after { content: ""; }
}