/*body {
  padding-top: 64px;
}*/

.text-x-small { font-size: x-small; }
.text-small { font-size: small; }
.text-large { font-size: large; }
.text-x-large { font-size: x-large; }
.text-xx-large { font-size: xx-large; }
.text-lg-responsive { font-size: 5vmin; }

.img-18 { max-height: 18px; max-width: 18px; }
.img-50 { max-height: 50px; max-width: 50px; }
.img-50 { max-height: 80px; max-width: 80px; }
.img-100 { max-height: 100px; max-width: 100px; }
.img-150 { max-height: 150px; max-width: 150px; }
.img-200 { max-height: 200px; max-width: 200px; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.min-margin {
  margin: 4px;
}

.min-margin-bottom {
  margin-bottom: 20px;
}

.min-margin-top {
  margin-top: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.hover-pointer:hover {
  cursor: pointer;
}
.clickable:hover {
  cursor: pointer;
}

.pale {
  opacity: 0.5;
}

@-webkit-keyframes glow {
  50% { text-shadow: 0px 0px 7px red; }
}
@keyframes glow {
  50% { text-shadow: 0px 0px 7px red; }
}
.glow-animation {
  -webkit-animation: glow 3s ease-in-out infinite;
  animation: glow 3s ease-in-out infinite;
}

.upper-corner {
  position: absolute;
  top: 3px;
}

.lower-center {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
}

.tab-pane { padding-top: 16px; }

.rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hidden-if-none:empty { display: none; }

/* a lot of this is copied from <legend>, which is similar to page-header as well. */
.section-title {
  color: #212121;
  font-size: 1.6em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 23px;
  border-bottom-color: #E5E5E5;
}

/******** onboard/base *********/

.well span.lead  {
  font-weight: bold;
  margin-right: 20px;
}

.page-footer ul li { margin-left: 12px; margin-right: 12px; }

/***** flex related ******/

.vertical-align {
  display: flex;
  align-items: center;
}

.horizontal-justified {
  display: flex;
  justify-content: space-between;
}

.horizontal-centered {
  display: flex;
  justify-content: center;
}

/* expand the block to the entire space */
.block-expand { width: 100%; }

.flex-imgbox {
  display: flex;
  align-items: center;
}
.flex-imgbox-img {
  position: relative;
  width: 30%;
}
.flex-imgbox-txt {
  position: relative;
  width: 70%;
}

/******** global settings  ********/

/* without this, the navbar-brand will have different margin-left settings in different viewsport*/
#servuno-brand { margin-left: -15px; }

@media print {
  div.page-footer { display: none; }
  a[href]:after { content: ""; }
}

/******** for dashboard *********/

.dashboard-link {
  margin-bottom: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
}

/************** grid display with isotope *************/

/* xs, regular */
.grid-item { width: 100%; }
@media (min-width: 768px) { /* sm */
  .grid-item { width: 50%; padding-right: 6px; }
}
@media (min-width: 992px) { /* md */
  .grid-item { width: 33.333333%; padding-right: 6px; }
}
@media (min-width: 1200px) { /* lg */
  .grid-item { width: 33.333333%; padding-right: 6px; }
}

/******** for card related *********/

/*.card {*/
  /*background: lightgray;*/
  /*color: white;*/
/*}*/

/* see http://stackoverflow.com/questions/18475937/how-can-i-set-height-for-twitter-bootstrap-thumbnails */
/*.card-height-fix {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
/*}*/
.card {
  margin-bottom: 6px;
}
.card:hover {
  background: #F5F5F5;
}
.card .well {
  margin-bottom: 0px;
}
.card .card-title-link {
  display: none;
}
.card:hover .card-title-link {
  display: inline;
}

/******** for contract related *********/

.contract-label-decoration {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.contract-label-decoration-status {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  position: absolute;
  *width: 120px;
  *height: 26px;
  *line-height: 26px;
  text-align: center;
  *top: -18px;
  *right: -54px;
}

/*.engagement {
  padding-top: 6px;
  padding-bottom: 6px;
}*/

.engagement-feed {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.engagement-feed>div:nth-child(1) {
  margin-right: 8px;
}
/*.engagement-feed>div:nth-child(2) {*/
  /*align-items: center;*/
/*/!*}*!/*/
/*.engagement-feed>div:nth-child(3) {*/
  /*align-self: flex-end;*/
/*}*/

.contract-summary .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/******* for comment ********/

.commentList {
  padding:0;
  list-style:none;
  /*max-height:200px;
  overflow:auto;*/
}
.commentList li {
  margin:0;
  margin-top:10px;
}
.commentList li > div {
  display:table-cell;
}
.commenterImage {
  width:30px;
  margin-right:5px;
  height:100%;
  float:left;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.commentText p {
  margin:0;
}
.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}

/******** special purpose, might be obsolete ***********/

.form-group .control-label.required:after {
  content: " *";
  color: red;
}

.navbar-brand img {
  max-height: 60px;
  max-width: 50px;
}

#page-summary table * { border-top: none; }
#page-summary table { margin-bottom: 0; }
#page-summary:empty { display: none; }

#page-error-message:empty { display: none; }

.multiple-checkbox ul.list-inline li label { font-weight: normal; }

.offer-remove:hover, .need-remove:hover, .message-remove:hover {
  cursor: pointer;
  color: red;
}

.message-remove { display: none; }

.colored-legend { background-color: darkgray; color: white; padding: 5px; border-radius: 5px; margin-bottom: 3px; }
.colored-legend a { color: white; }

img.user-picture-md { width: 48px; height: 100%; }

