{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block page %}
  <div class="page-header">
    <h1>{% block page-header %}Page Header <small>Description</small>{% endblock %}</h1>
    {% block page-header-extra %}{% endblock %}
  </div>
  <div class="alert alert-danger" id="page-error-message">{% block page-error-message %}{% endblock %}</div>

  <div class="row">
    <div class="col-sm-8">
      <section id="page-content">
        {% block page-content %}{% endblock %}
      </section>
    </div>
  </div>
{% endblock %}
