{# similar to base_m.html, but added panel for the trunk layout #}
{% extends "base.html" %}
{% block page %}
<div class="row page-content"><div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8{#  col-lg-offset-3 col-lg-6 #}"><div class="panel panel-default">
  <div class="panel-heading">
    <ul class="nav nav-tabs nav-justified">
      <li data-active-url="{% url 'dashboard' %}"><a href="{% url 'dashboard' %}"><i class="fa fa-home"></i> Dashboard</a></li>
      <li data-active-url="{% url 'circle:parent' %},{% url 'circle:sitter' %}"><a href="{% url 'circle:parent' %}"><i class="fa fa-users"></i> Build Network</a></li>
      <li data-active-url="{% url 'contract:post_parent' %},{% url 'contract:post_sitter' %}"><a href="{% url 'contract:post_parent' %}"><i class="fa fa-child"></i> Post Job</a></li>
    </ul>
  </div>
  <div class="panel-body">
    {% block content %}{% endblock %}
  </div>
</div></div></div>
{% endblock %}
