{% extends "base.html" %}
{% load static %}

{% block extra_header %}
<link href='{% static 'fullcalendar/fullcalendar.css' %}' rel='stylesheet' />
<link href='{% static 'fullcalendar/fullcalendar.print.css' %}' rel='stylesheet' media='print' />
<script src='{% static 'fullcalendar/lib/moment.min.js' %}'></script>
<script src='{% static 'fullcalendar/fullcalendar.js' %}'></script>
<script type="text/javascript">
$(document).ready(function() {
  var defaultView = $('#viewport-xs-detector').is(':hidden') ? 'agendaDay' : 'agendaWeek';
  var param_day = getParameterByName('day');
  var day = param_day ? moment(param_day, 'YYYY-MM-DD') : moment();

  $('#calendar').fullCalendar({
    header: {
      left: 'title',
      center: '',
      right: 'agendaDay,agendaWeek,month today prev,next'
    },
    defaultDate: day,
    defaultView: defaultView,
    aspectRatio: '1.1',

    fixedWeekCount: false,
    allDaySlot: false,
    // allDaySlot: true,
    // allDayText: '',

    scrollTime: '13:00',
    weekends: true,

    //firstDay: 0,
    editable: false,
    //eventLimit: true,

    selectable: true,
    selectHelper: true,

    // get events from API
    events: '{% url "contract:my_list" %}',

    // event render to allow html
    // see: https://code.google.com/p/fullcalendar/issues/detail?id=152 or https://github.com/arshaw/fullcalendar/pull/83
    eventRender: function(event, element) {
      element.find('.fc-title').html(event.title);
    },

    // redirect to find view
    select: function(start, end, jsEvent, view) {
      window.location = "{% url 'contract:add' %}?start=" + encodeURIComponent(start.format('YYYY-MM-DD HH:mm')) + '&end=' + encodeURIComponent(end.format('YYYY-MM-DD HH:mm'));
    },

{# NOTE: this runs before getting events, thus clientEvents() returns nothing. #}
{#    viewRender: function(view, element) {#}
{#      console.log(view.calendar);#}
{#      //console.log(element);#}
{#      if (view.name == 'agendaWeek') {#}
{#        view.calendar.clientEvents().forEach(function(event) {#}
{#          console.log(event);#}
{#          element.find(event['fc-header-class']).append(' *');#}
{#        });#}
{#      }#}
{#      else if (view.name == 'agendaDay') {#}
{##}
{#      }#}
{#    },#}

    eventAfterAllRender: function(view) {
      if (view.name == 'agendaDay' || view.name == 'agendaWeek') {
        view.calendar.clientEvents().forEach(function (event) {
          console.log(event['fc-header-class']);
          var $header = $(event['fc-header-class']);
          if (!$header.data('processed')) {
            $header.append(' <span class="text-danger">*</span>');
            $header.data('processed', true);
          }
        });
      } // end of eventAfterAllRender
    }
  });

  // click to calendar
  $('.engagement').click(function() {
    var href = $(this).data('href');
    if (href) {
      window.location = href;
    }
  })
});
</script>
{% endblock %}

{% block title %}Calendar{% endblock %}

{% block page %}
<div class="row">
  <div class="col-sm-4">
    {% if engagement_headline %}
      {% include 'contract/engagement_view/headline.html' with engagement=engagement_headline %}
    {% endif %}

    <div class="panel panel-success">
      <div class="panel-heading panel-title">Find a babysitter</div>
      <div class="panel-body"><a href="{% url 'contract:add' %}">Click here</a> or select a time period in the calendar.</div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading panel-title">Recent activities</div>
        <div class="help-block"><small>Ordered by last updated</small></div>
      {% if engagement_recent %}
        <ul class="list-group">
          {% for engagement in engagement_recent %}
            <li class="list-group-item">{% include 'contract/engagement_view/teaser.html' with engagement=engagement %}</li>
          {% endfor %}
        </ul>
      {% else %}
          <p>No activity yet.</p>
      {% endif %}
    </div>
  </div>

  <div class="col-sm-8">
    <div id="calendar"></div>
    <div class="hidden-xs" id="viewport-xs-detector"></div>
  </div>
</div>
{% endblock %}
