{% extends "base.html" %}
{% load static %}

{% block extra_header %}
<link href='{% static 'fullcalendar/fullcalendar.css' %}' rel='stylesheet' />
<link href='{% static 'fullcalendar/fullcalendar.print.css' %}' rel='stylesheet' media='print' />
<script src='{% static 'fullcalendar/lib/moment.min.js' %}'></script>
<script src='{% static 'fullcalendar/fullcalendar.js' %}'></script>
<script type="text/javascript">
$(document).ready(function() {
  var param_day = getParameterByName('day');
  var day = param_day ? moment(param_day, 'YYYY-MM-DD') : moment();

  $('#calendar').fullCalendar({
    header: {
      left: 'title',
      center: '',
      right: 'agendaWeek,month today prev,next'
    },
    defaultDate: day,
    defaultView: 'agendaWeek',

    fixedWeekCount: false,
    allDaySlot: true,
    allDayText: '',

    scrollTime: '14:00',
    weekends: true,

    //firstDay: 0,
    editable: false,
    //eventLimit: true,

    selectable: true,
    selectHelper: true,

    // get events from API
    events: '{% url "contract:my_list" %}',

    // redirect to find view
    select: function(start, end, jsEvent, view) {
      window.location = "{% url 'contract:add' %}?start=" + encodeURIComponent(start.format('YYYY-MM-DD HH:mm')) + '&end=' + encodeURIComponent(end.format('YYYY-MM-DD HH:mm'));
    }
  });
});
</script>
{% endblock %}

{% block title %}Calendar{% endblock %}

{% block page %}
{% if engagement_headline %}
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">next event</div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading panel-title">Find a babysitter</div>
      <div class="panel-body"><a href="{% url 'contract:add' %}">Click here</a> or select a time period in the calendar.</div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading panel-title">Upcoming</div>
      <div class="panel-body">Find</div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading panel-title">Past</div>
      <div class="panel-body">Find</div>
    </div>
  </div>

  <div class="col-sm-8">
    <div id="calendar"></div>
  </div>
</div>
{% endblock %}
