{% extends "base_page.jinja2" %}
{% load staticfiles %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block title %}Center | S2C2{% endblock %}

{% block page-header %}{% icon center %} {{ center|name }} <small>Children's Center</small>{% endblock %}

{% block page-summary %}
{% endblock %}

{% block page-content %}
{% endblock %}