{% extends "base_page.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block title %}Classroom{% endblock %}

{% block page-header %}{% icon classroom %} {{ classroom|name }} <small>Classroom</small>{% endblock %}

{% block page-summary %}
  <table class="table table-condensed table-hover">
    <tr><th scope="row">Center</th><td><ul class="list-inline">
      {% if classroom.center %}
        <li><a href="{% url 'center' pk=classroom.center.pk %}">{% icon 'center' %} {{ classroom.center|name }}</a></li>
      {% else %}
        <li class="text-muted">-None-</li>
      {% endif %}
    </ul></td></tr>
    <tr><th scope="row">Staff <small class="text-muted">(ordered by work hours)</small></th><td><ul class="list-inline">
      {% for staff in classroom_staff %}
        <li><a href="{% url 'dashboard' uid=staff.id %}">{% icon staff %} {{ staff|name }}</a> {% if not staff.profile.verified %}{% icon 'unverified' %}{% endif %}</li>
      {% empty %}
        <li><span class="text-muted">-None-</span></li>
      {% endfor %}
    </ul></td></tr>
  </table>
{% endblock %}

{% block page-content %}
  <div class="row">
    <div class="col-sm-6"><h2>Weekly Schedule</h2></div>
    <div class="col-sm-6"><ul class="nav-week pagination pull-right">
      <li{% if day.is_regular %} class="disabled"{% endif %}><a href="?day={{ day.prev_week.get_token }}"><i class="fa fa-fast-backward"></i></a></li>
      <li><a href="{% url 'slot:classroom' cid=classroom.pk %}"><i class="fa fa-calendar-o"></i> Today</a></li>
      <li><a href="."><i class="fa fa-calendar"></i> This Week</a></li>
      <li><a href="?day={{ day.switch.get_token }}"><i class="fa fa-exchange"></i> Switch</a></li>
      <li{% if day.is_regular %} class="disabled"{% endif %}><a href="?day={{ day.next_week.get_token }}"><i class="fa fa-fast-forward"></i></a></li>
    </ul></div>
  </div>

  {% if week_unmet_need_warning %}<p><span class="label label-danger"><i class="fa fa-exclamation-circle"></i> found unmet need</span></p>{% endif %}

  <table class="table table-hover table-stripped table-bordered">
    <thead><tr>
      <th></th>
      {% for d in week_table_data.header %}
        <th class="text-center"><a href="{% url 'slot:classroom' cid=classroom.pk %}?day={{ d.get_token }}">{% if d.is_regular %}{{ d.value|date:'l' }}{% else %}{{ d.value|date:'D, N d' }}{% endif %}</a></th>
      {% endfor %}
    </tr></thead>
    <tbody>
    {% for row_header, row_data in week_table_data.rows %}
      <tr>
        <th scope="row" class="text-center">{{ row_header.display_slice }}</th>
        {% for cell in row_data%}
          {% if cell %}
            <td class="text-center"><ul class="list-inline">
              {% for need in cell %}{# there should be only one availability #}
                {% if need.meet %}
                  <li><a href="{% url 'dashboard' uid=need.meet.offer.user.pk %}?day={{ need.meet.offer.day.get_token }}">{% icon 'user' %} {{ need.meet.offer.user|name }}</a></li>
                {% else %}
                  <li class="text-muted">-Empty-</li>
                {% endif %}
              {% endfor %}
            </ul></td>
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
