{% extends "base_page.jinja2" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}Classroom{% endblock %}

{% block page-header %}Sleeping Bears <small>Classroom, NCCC</small>{% endblock %}

{% block page-summary %}
  <table class="table table-condensed table-hover">
    <tr><th scope="row">Manager(s)</th><td><a href="#"><i class="fa fa-user"></i> Kelly</a> | <a href="#"><i class="fa fa-user"></i> Julia</a></td></tr>
    <tr><th scope="row">Staff</th><td><a href="#"><i class="fa fa-user"></i> Tracy</a> | <a href="#"><i class="fa fa-user"></i> Charlene</a> | <a href="#"><i class="fa fa-user"></i> Stacia</a></td></tr>
  </table>
{% endblock %}

{% block page-content %}
<h2>Schedule by Date <small><a href="#"><i class="fa fa-calendar"></i></a></small></h2>
<ul class="nav nav-pills">
  <li><a href="#"><i class="fa fa-calendar-o"></i> Today - December 12 (Monday)</a></li>
  <li><a href="#"><i class="fa fa-calendar-o"></i> December 13 (Tuesday)</a></li>
  <li><a href="#"><i class="fa fa-calendar-o"></i> December 14 (Wednesday)</a></li>
</ul>
<h2>Regular Schedule Overview</h2>
<table class="table table-hover table-stripped table-bordered">
  <thead><tr>
    <th></th>
    <th><a href="#">Monday</a></th>
    <th><a href="#">Tuesday</a></th>
    <th><a href="#">Wednesday</a></th>
    <th><a href="#">Thursday</a></th>
    <th><a href="#">Friday</a></th>
  </tr></thead>
  <tbody>
  <tr><th scope="row">9:00am~9:30am</th><td class="text-muted">Empty</td><td>Tracy | Charlene | Stacia</td><td></td><td></td><td></td></tr>
  <tr><th scope="row">9:30am~10:00am</th><td class="text-muted">Empty</td><td></td><td></td><td>Tracy | Charlene | Stacia</td><td></td></tr>
  <tr><th scope="row">10:00am~10:30am</th><td class="text-muted">Empty</td><td></td><td>Tracy | Charlene | Stacia</td><td></td><td>Tracy | Charlene | Stacia</td></tr>
  </tbody>
</table>
<button class="btn btn-primary">Print regular schedule</button>
{% endblock %}