{% extends "base_page.jinja2" %}
{% load staticfiles %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block title %}Dashboard{% endblock %}

{% block page-header %}{{ user_profile.get_display_name|default:'N/A' }} <small>{{ header_extra }}</small>{% endblock %}

{# This has to be empty if it's really empty in order to apply css :empty selector to hide display. #}
{% block page-error-message %}{% if not user_profile.is_verified %}The account {{ user_profile.username|default:'N/A' }} is not verified.{% endif %}{% endblock %}

{% block page-summary %}
  <table class="table table-condensed table-hover">
    <tr><th scope="row">Phone</th><td>{{ user_profile.phone_main|default:'N/A' }} <span class="text-muted">main</span> | {{ user_profile.phone_backup|default:'N/A' }} <span class="text-muted">backup</span></td></tr>
    <tr><th scope="row">Email</th><td>{{ user_profile.email }}</td></tr>
    {% if user_profile.is_center_staff %}
      <tr><th scope="row">Work hours</th><td>40 hours per regular week; 42.5 hours this week</td></tr>
      <tr><th scope="row">Classrooms </th><td><a href="#"><i class="fa fa-paw"></i> Robins</a> | <a href="#"><i class="fa fa-paw"></i> Sleeping Bears</a></td></tr>
      <tr><th scope="row">Managers </th><td><a href="#"><i class="fa fa-user"></i> Kelly</a> | <a href="#"><i class="fa fa-user"></i> Julia</a></td></tr>
    {% endif %}
    <tr><th scope="row">Personal Note</th><td>{{ user_profile.note }}</td></tr>
  </table>
{% endblock %}

{% block page-content %}
  {% if user_profile.is_verified and user_profile.is_center_manager %}
    <h2>Classrooms</h2>
    <ul class="nav nav-pills">
      <li><a href="#"><i class="fa fa-paw"></i> Petoskey Stones</a></li>
      <li><a href="#"><i class="fa fa-paw"></i> Sleeping Bears</a></li>
      <li><a href="#"><i class="fa fa-paw"></i> Cottontails</a></li>
      <li><a href="#"><i class="fa fa-paw"></i> Jacks</a></li>
      <li><a href="#"><i class="fa fa-paw"></i> Robins</a></li>
    </ul>
    <h2>Staff</h2>
    <ul class="nav nav-pills">
      <li><a href="#"><i class="fa fa-user"></i> Asana</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Alyssa</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Dani</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Kat</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Max</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Queayna</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Sophie</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Tori</a></li>
    </ul>
  {% elif user_profile.is_center_staff %}
    <h2>Schedule by Date</h2>
    <ul class="nav nav-pills">
      {% for d in day.expand_week %}
        <li><a href="{% url 'slot:staff' %}?day={{ d.get_token }}"><i class="fa fa-calendar-o"></i> {{ d.value|date:'N j (D)' }}</a></li>
      {% endfor %}
    </ul>
    <h2>Regular Schedule Overview</h2>
    <table class="table table-hover table-stripped table-bordered">
      <thead><tr>
        <th></th>
        {% for d in regular_week_table_data.header %}
          <th class="text-center"><a href="{% url 'slot:staff' %}?day={{ d.get_token }}">{{ d.value|date:'l' }}</a></th>
        {% endfor %}
      </tr></thead>
      <tbody>
      {% for row_header, row_data in regular_week_table_data.rows %}
        <tr>
          <th scope="row" class="text-center">{{ row_header.display_slice }}</th>
          {% for cell in row_data%}
          {% if cell %}
            <td class="text-center"><ul class="list-inline">
              {% for offer in cell %}{# there should be only one availability #}
                {% if offer.meet %}
                  <li><a href="{% url 'slot:classroom' cid=offer.meet.need.location.pk %}?day={{ offer.meet.need.day.get_token }}">{% classroom-icon %} {{ offer.meet.need.location.name }}</a></li>
                {% else %}
                  <li class="text-muted">-Available-</li>
                {% endif %}
              {% endfor %}
            </ul></td>
          {% else %}
            <td></td>
          {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-primary">Print regular schedule</button>
  {% else %}
    <div class="alert alert-danger">Nothing to show here because you don't have a proper role assigned, or your role is <em>manager</em> but is not verified.</div>
  {% endif %}
{% endblock %}
