{% extends "base_page.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block title %}Dashboard{% endblock %}

{% block page-header %}
  {% icon user_profile %} {{ user_profile|name }}
  <small>{{ user_profile.display_role|title }}{% if not user_profile.is_verified %} {% icon 'unverified' %}{% endif %}</small>
{% endblock %}

{% block page-header-extra %}{% if verify_form %}
  <form class="form" method="post" action="{% url 'user:verify' %}">
    {% csrf_token %}
    {{ verify_form }}
    <div class="form-group alert alert-warning">
      <button type="submit" class="btn btn-primary">Verify</button>
      <span class="text-muted">You may verify the user to have full access to the center you manage.</span>
    </div>
  </form>
{% endif %}{% endblock %}

{# This has to be empty if it's really empty in order to apply css :empty selector to hide display. #}
{#{% block page-error-message %}{% if not user_profile.is_verified %}The account {{ user.username|default:'N/A' }} is not verified.{% endif %}{% endblock %}#}

{% block page-summary %}
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4"><img src="{% user_picture_url user_profile %}" class="img-circle img-responsive"></div>
            <div class="col-sm-8">
              <table class="table table-condensed">
                <tr><th scope="row">Center{{ user_profile.centers.all|pluralize }}</th><td><ul class="list-inline">
                  {% for center in user_profile.centers.all %}
                    <li><a href="{% url 'center' pk=center.pk %}">{% icon center %} {{ center|name }}</a></li>
                  {% empty %}
                    <li class="text-muted">-None-</li>
                  {% endfor %}
                </ul></td></tr>
                <tr><th scope="row">Phone</th><td><ul class="list-inline">
                  <li>{% if user_profile.phone_main %}<i class="fa fa-phone"></i> {{ user_profile.phone_main }}{% else %}<span class="text-muted">-None-</span>{% endif %}</li>
                  {% if user_profile.phone_backup %}<li><i class="fa fa-phone"></i> {{ user_profile.phone_backup }}</li>{% endif %}
                </ul></td></tr>
                <tr><th scope="row">Email</th><td><ul class="list-inline">
                  <li><i class="fa fa-envelope"></i> {{ user_profile.email }}</li>
                </ul></td></tr>
                {% if user_profile.address %}<tr><th scope="row">Address</th><td><ul class="list-inline"><li>{{ user_profile.address }}</li></ul></td></tr>{% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <strong>Personal note: </strong><span{% if not user_profile.note %} class="text-muted"{% endif %}>{{ user_profile.note|default:'-None-' }}</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page-content %}
{% if user_profile.user == user and user_profile.is_verified and user_profile.is_center_manager %}
{% elif user_profile.is_center_staff %}
  <div class="row">
    <div class="col-sm-6"><h2>Weekly Schedule</h2></div>
    <div class="col-sm-6"><ul class="nav-week pagination pull-right">
      <li{% if day.is_regular %} class="disabled"{% endif %}><a href="?day={{ day.prev_week.get_token }}"><i class="fa fa-fast-backward"></i></a></li>
      <li><a href="."><i class="fa fa-calendar"></i> This Week</a></li>
      <li><a href="?day={{ day.switch.get_token }}"><i class="fa fa-exchange"></i> Switch</a></li>
      <li{% if day.is_regular %} class="disabled"{% endif %}><a href="?day={{ day.next_week.get_token }}"><i class="fa fa-fast-forward"></i></a></li>
    </ul></div>
  </div>

  <p>
    <strong>Hours </strong>:
    <span class="label label-default" title="Total hours of the week">{{ week_hours.0 }}</span>
    <span class="label label-danger" title="Work hours of the week">{{ week_hours.1 }}</span>
    <span class="label label-success" title="Unused hours of the week">{{ week_hours.2 }}</span>
  </p>

  <table class="table table-hover table-stripped table-bordered">
    <thead><tr>
      <th></th>
      {% for d in week_table_data.header %}
        <th class="text-center"><a href="{% url 'slot:staff' uid=user_profile.pk %}?day={{ d.get_token }}">{% if d.is_regular %}{{ d.value|date:'l' }}{% else %}{{ d.value|date:'D, N d' }}{% endif %}</a></th>
      {% endfor %}
    </tr></thead>
    <tbody>
    {% for row_header, row_data in week_table_data.rows %}
      <tr>
        <th scope="row" class="text-center">{{ row_header.display_slice }}</th>
        {% for cell in row_data%}
        {% if cell %}
          <td class="text-center"><ul class="list-inline">
            {% for offer in cell %}{# there should be only one availability #}
              {% if offer.meet %}
                <li><a href="{% url 'classroom' pk=offer.meet.need.location.pk %}?day={{ offer.meet.need.day.get_token }}">{% classroom-icon %} {{ offer.meet.need.location.name }}</a></li>
              {% else %}
                <li class="text-muted">-Available-</li>
              {% endif %}
            {% endfor %}
          </ul></td>
        {% else %}
          <td></td>
        {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
{% endif %}
{% endblock %}
