{% extends "base_page.jinja2" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}Dashboard{% endblock %}

{% block page-header %}{{ user_profile.get_display_name|default:'N/A' }} <small>{{ header_extra }}</small>{% endblock %}

{# This has to be empty if it's really empty in order to apply css :empty selector to hide display. #}
{% block page-error-message %}{% if not user_profile.is_verified %}The account {{ user.username|default:'N/A' }} is not verified.{% endif %}{% endblock %}

{% block page-summary %}
  <table class="table table-condensed table-hover">
    <tr><th scope="row">Phone</th><td>555-555-5555 (main), 000-000-0000 (backup)</td></tr>
    <tr><th scope="row">Email</th><td>abc@umich.edu</td></tr>
    {% if user_profile.is_center_staff %}
      <tr><th scope="row">Work hours</th><td>40 hours per regular week; 42.5 hours this week</td></tr>
      <tr><th scope="row">Classrooms </th><td><a href="#"><i class="fa fa-university"></i> Sleeping Bears</a> | <a href="#"><i class="fa fa-university"></i> Sleeping Bears</a></td></tr>
      <tr><th scope="row">Managers </th><td><a href="#"><i class="fa fa-user"></i> Kelly</a> | <a href="#"><i class="fa fa-user"></i> Julia</a></td></tr>
    {% endif %}
    <tr><th scope="row">Personal Note</th><td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td></tr>
  </table>
{% endblock %}

{% block page-content %}
  {% if user_profile.is_verified and user_profile.is_center_manager %}
    <h2>Classrooms</h2>
    <ul class="nav nav-pills">
      <li><a href="#"><i class="fa fa-university"></i> Petoskey Stones</a></li>
      <li><a href="#"><i class="fa fa-university"></i> Sleeping Bears</a></li>
      <li><a href="#"><i class="fa fa-university"></i> Cottontails</a></li>
      <li><a href="#"><i class="fa fa-university"></i> Jacks</a></li>
      <li><a href="#"><i class="fa fa-university"></i> Robins</a></li>
    </ul>
    <h2>Staff</h2>
    <ul class="nav nav-pills">
      <li><a href="#"><i class="fa fa-user"></i> Asana</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Alyssa</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Dani</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Kat</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Max</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Queayna</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Sophie</a></li>
      <li><a href="#"><i class="fa fa-user"></i> Tori</a></li>
    </ul>
  {% elif user_profile.is_center_staff %}
    <h2>Schedule by Date <small><a href="#"><i class="fa fa-calendar"></i></a></small></h2>
    <ul class="nav nav-pills">
      <li><a href="#"><i class="fa fa-calendar-o"></i> Today - December 12 (Monday)</a></li>
      <li><a href="#"><i class="fa fa-calendar-o"></i> December 13 (Tuesday)</a></li>
      <li><a href="#"><i class="fa fa-calendar-o"></i> December 14 (Wednesday)</a></li>
    </ul>
    <h2>Regular Schedule Overview</h2>
    <table class="table table-hover table-stripped table-bordered">
      <thead><tr>
        <th></th>
        <th><a href="#">Monday</a></th>
        <th><a href="#">Tuesday</a></th>
        <th><a href="#">Wednesday</a></th>
        <th><a href="#">Thursday</a></th>
        <th><a href="#">Friday</a></th>
      </tr></thead>
      <tbody>
      <tr><th scope="row">9:00am~9:30am</th><td class="text-muted">Available</td><td>Sleeping Bears</td><td>Robbins</td><td>Robbins</td><td>Sleeping Bears</td></tr>
      <tr><th scope="row">9:30am~10:00am</th><td class="text-muted">Available</td><td></td><td></td><td>Robbins</td><td>Sleeping Bears</td></tr>
      <tr><th scope="row">10:00am~10:30am</th><td class="text-muted">Available</td><td>Sleeping Bears</td><td>Robbins</td><td>Robbins</td><td>Sleeping Bears</td></tr>
      </tbody>
    </table>
    <button class="btn btn-primary">Print regular schedule</button>
  {% else %}
    <div class="alert alert-danger">Nothing to show here because you don't have a proper role assigned, or your role is <em>manager</em> but is not verified.</div>
  {% endif %}
{% endblock %}
