{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load account_tags %}
{% load p2_tags %}

{% block page %}
  <div class="row">
    <aside class="col-sm-3 hidden-xs">
      <div class="thumbnail" data-uid="{{ user.id }}">
        <img src="{% user_picture_url user %}" alt="user picture" class="img-thumbnail img-responsive">
        <div class="caption">
          <h4 class="text-center">{% user_display user %}</h4>
          <p class="text-center"><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
          <p class="text-center"><a href="tel:{{ user.info.phone }}">{{ user.info.phone }}</a></p>
        </div>
      </div>
    </aside>

    <section class="col-sm-9">
    {% if engagements %}
      {% for engagement in engagements %}
        {% include 'contract/includes/engagement_home.html' with engagement=engagement %}
      {% endfor %}
    {% else %}
      <p>You don't have any activities yet. To find a babysitter, click here: <a class="btn btn-primary">{% url 'contract:add' %}</a></p>
    {% endif %}
    </section>
  </div>
{% endblock %}
