{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}Homepage{% endblock %}

{% block page %}
<div class="row jumbotron">

  <div class="col-sm-7">
    {#  <div><img src="{% static 'logo.png' %}"></div>#}
    <h1>Servuno <small></small></h1>
{#    <p>A Uber-like app to help you find one time babysitters your trust</p>#}
    <p>Find <em>one-time</em>, <em>on-demand</em> babysitters from people you trust. Return the favors by babysitting their kids.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}" role="button">Sign Up</a>
      {#      <a class="btn btn-primary btn-lg" href="{% url 'user:login' %}" role="button">Login</a>#}
    </p>
  </div>
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">Existing users? Login here</div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|bootstrap_horizontal:'col-sm-4' }}
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <button type="submit" class="btn btn-primary">Log in</button>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <a href="{% url 'account_password_reset' %}">Forget password?</a>
      </div>
    </div>
  </div>
</div>
{#<div class="row">#}
{#  <div class="col-sm-12">#}
{#    <ul>#}
{#      <li>Find help from family and friends</li>#}
{#      <li>Return the favor of helping them</li>#}
{#      <li>Smart recommendations</li>#}
{#      <li>On demand</li>#}
{#    </ul>#}
{#  </div>#}
{#</div>#}
{% endblock %}
