{% extends "base_page.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block title %}Notifications | S2C2{% endblock %}

{% block page-header %}Notifications <small>{% icon user %} {{ user|name }}</small>{% endblock %}

{% block page-header-extra %}{% if form and notification_count %}
  <form class="form" method="post" action="{% url 'log:mark_read' %}">
    {% csrf_token %}
    {{ form }}
    <div class="form-group alert alert-warning">
      <button type="submit" class="btn btn-primary">Mark Read</button>
      <span class="text-muted">Click the button to mark all unread notification as read. Read notifications past today will not show here.</span>
    </div>
  </form>
{% endif %}{% endblock %}

{% block page-content %}
{% for notification in latest_notification %}
  <blockquote>
    <p>{% if not notification.done %}<span class="label label-danger">new</span> {% endif %}{{ notification.display }}
      {% if notification.log.get_links %}
        {% for link in notification.log.get_links %}<a href="{{ link.href }}"><i class="fa fa-link"></i></a> {% endfor %}
      {% endif %}
    </p>
    <footer>from {% if notification.sender %}<a href="{% url 'dashboard' uid=notification.sender.id %}">{% icon 'user' %} {{ notification.sender|name }}</a>{% else %}<em>system</em>{% endif %}
      on {% if notification.is_today %}{{ notification.created|time }}{% else %}{{ notification.created|date }}{% endif %}</footer>
  </blockquote>
{% empty %}
  <div class="alert alert-warning">No notification.</div>
{% endfor %}
{% endblock %}