{% load account_tags %}
{% load p2_tags %}
{% load static %}
<div class="thumbnail" data-uid="{{ user.id }}">
  {% include 'account/view/picture_rounded.html' with user=user only %}
  {% if label or icon %}
  <p class="upper-corner"><span class="label label-{{ color|default:'default' }}">
    {% if icon %}{% include icon %}{% else %}{{ label }}{% endif %}
  </span></p>
  {% endif %}
  {% if user %}
  <div class="caption">
    <h4 class="text-center{% if not user.get_full_name %} word-break{% endif %}">
      <a href="{% url 'account_view' pk=user.id %}">{% user_display user %}</a>
    </h4>
  </div>
  {% endif %}
</div>