<script>
  $(document).ready(function() {

    var param_day = getParameterByName('day');
    var day = param_day ? moment(param_day, 'YYYYMMDD') : moment();

    var calendarDefaults = getCalendarDefaults();
    var defaultEventRender = calendarDefaults.eventRender;

    $('#calendar').fullCalendar($.extend(calendarDefaults, {

      // about selectables

      selectable: true,
      selectHelper: true,
      selectConstraint: {
        start: '06:00',
        end: '21:00'
      },
      select: function(start, end, jsEvent, view) {
        //console.log(start.format('YYYYMMDD'));
        //console.log(start.format('HHmm'));
        var form_day = start.format('YYYYMMDD');
        // handle template string.
        if (start.isBetween('1900-01-01', '1900-01-08')) {
          form_day = start.format('d');
          console.log(form_day);
        }
        var form_start = start.format('HHmm');
        var form_end = end.format('HHmm');

        if (jsEvent.shiftKey) {
          // this will do delete
          $.post('{% url "slot:offer_delete" uid=user_profile.pk %}', {day: form_day, start_time: form_start, end_time: form_end}, function(data) {
            //console.log(data);bad
            if (data.status === 302) {
              //window.location.replace(data.content);
              fullcalendar_refresh($('#calendar'));
              display_ajax_messages();
            }
            else if (data.status === 403) {
              display_message('Permission not allowed.', 'danger');
            }
          });
        }
        else {
          // for all other cases
          $.post('{% url "slot:offer_add" uid=user_profile.pk %}', {day: form_day, start_time: form_start, end_time: form_end}, function(data) {
            //console.log(data);
            if (data.status === 302) {
              //window.location.replace(data.content);
              fullcalendar_refresh($('#calendar'));
              display_ajax_messages();
            }
          });
        }
      }, // end of select function

      // about event

      events: '{% url "cal:staff_events" uid=user_profile.pk %}',
      eventRender: function(event, element, view) {
        // call the original eventRender
        defaultEventRender(event, element, view);
        // append "offer remove" ajax link.
        $('div.fc-content div.fc-title', element).append(' <span class="glyphicon glyphicon-remove offer-remove" data-offer="' + event.id + '"></span>');
      },

      // about view

      viewRender: function(view, element) {
        // update form.
        var current_day = view.calendar.getDate();
        $('#panel-staff-copy input[name=current_date]').val(current_day.format('YYYYMMDD'));
        $('#panel-staff-copy select option[value=curr]').text('Current week ('+ current_day.clone().day(1).format('MMM.D') + ' ~ ' + current_day.clone().day(7).format('D') +')');
        $('#panel-staff-copy select option[value=prev]').text('Previous week ('+ current_day.clone().day(-6).format('MMM.D') + ' ~ ' + current_day.clone().day(0).format('D') +')');
        $('#panel-staff-copy select option[value=next]').text('Next week ('+ current_day.clone().day(8).format('MMM.D') + ' ~ ' + current_day.clone().day(14).format('D') +')');
        calendarChangeBookmark(view);
      },

      eventAfterAllRender: function(view) {
        var current_day = view.calendar.getDate();
        // update staff hours.
        var staff_hours_table_view = $('#staff-hours-table').data('view');
        if (staff_hours_table_view) staff_hours_table_view.render(current_day.format('YYYYMMDD'));
      }
    }));


    $('#calendar').on('click', '.offer-remove', function(e) {
      e.stopPropagation();
      e.preventDefault();
      var id_data = $(this).data('offer').split('-');
      var staff_id = id_data[0], day = id_data[1], start = id_data[2], end = id_data[3];
      //console.log(staff_id, day, start, end);
      // note: staff_id is not available to django backend. we'll assume user_profile.pk === staff_id
      $.post('{% url "slot:offer_delete" uid=user_profile.pk %}', {day: day, start_time: start, end_time: end}, function(data) {
        //console.log(data);bad
        if (data.status === 302) {
          //window.location.replace(data.content);
          fullcalendar_refresh($('#calendar'));
          display_ajax_messages();
        }
        else if (data.status === 403) {
          display_message('Permission not allowed.', 'danger');
        }
      });
    });

    //console.log($('#calendar').data('fullCalendar').getDate());

  }); // end of document.ready().
</script>