{% extends 'cal/panel.html' %}
{% load bootstrap %}

{% block panel_content %}
  <form class="form" method="post" action="{% url 'cal:staff_copy' uid=user_profile.pk %}">
    {% csrf_token %}
    {{ staff_copy_form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Copy</button>
    </div>
    <div class="help-block">
      <ul>
        <li>Classroom assignments will not be copied.</li>
        <li>Copy only works for empty target date.</li>
        <li><a href="{% url 'user:pref' %}">Setup</a> auto copy schedule.</li>
      </ul>
    </div>
  </form>
{% endblock %}