{% extends 'cal/panel.html' %}

{% block panel_content %}
  <form class="form">
    {% csrf_token %}
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Message" name="comment">
      <span class="input-group-btn"><button type="submit" class="btn btn-primary">Post</button></span>
    </div>
  </form>

  <ul id="center-wall" class="commentList"></ul>

  <script type="text/template" id="center-wall-template">
  </script>

  <script type="text/template" id="center-wall-comment-template">
    <div class="commenterImage"><img src="<%= creator_picture %>" alt="<%= creator_name %>"/></div>
    <div class="commentText"><p><%= message %> <span class="glyphicon glyphicon-remove message-remove"></span></p><span class="sub-text"><a href="<%= creator_profile_link %>"><%= creator_name %></a> at <%= updatedDisplay %></span></div>
  </script>

  <script type="text/javascript">

  function initialize_wall() {
    // these are definitions, not executions, and does not need to be in $.ready().
    'use strict';

    // namespace
    var wall = {};

    wall.LogComment = Backbone.Model.extend({
      defaults: {},

      initialize: function() {
        //console.log(this.toJSON());
        this.set('updatedDisplay', moment(this.get('updated')).format('h:mma, MMM. D'));
        //this.on('change:updated', function() {
        // this.updatedDisplay = moment(this.updated).format('YYYYmmdd');
        //});
      }
    });

    wall.LogCommentList = Backbone.Collection.extend({
      model:  wall.LogComment,
      url:    function() {
        return '{% url "log:comment_location" cid=center.id %}' + '?day=' + getRequestDay();
      }
    });

    wall.logCommentList = new wall.LogCommentList();

    // view for the individual message.
    wall.LogCommentView = Backbone.View.extend({
      tagName: 'li',
      template: _.template($('#center-wall-comment-template').html()),

      events: {
        'click .delete': 'deleteOne'
      },

      render: function() {
        this.$el.html(this.template(this.model.toJSON()));
        return this; // enable chained calls
      },

      deleteOne: function() {
        console.log(this.model.get('id'));
      }

    });

    wall.CenterWallView = Backbone.View.extend({
      el: '#center-wall',
      // template: _.template($('#center-wall-template').html()),

      initialize: function() {
        this.render();
      },

      render: function() {
        // clean up first.
        this.$el.html('');

        // this is non-blocking, meaning the results are not immediately available.
        wall.logCommentList.fetch({
          success: function(collection, response, options) {
            //console.log(collection);
            //console.log(options);
            collection.each(function(comment) {
              // console.log(comment);
              var view = new wall.LogCommentView({model: comment});
              this.$el.append(view.render().el);  // here "this" is bound to "options.view" passed in by each().
            }, options.view);
          },
          view: this  // here "this" is the View.
        });

        return this;
      }
    });

    wall.centerWallView = new wall.CenterWallView();

    return wall;
  }

  $(document).ready(function() {
    var $center_wall = $('#center-wall');
    if (!$center_wall.data('wall')) {
      var wall = initialize_wall();
      $center_wall.data('wall', wall);
    }
    // wall.centerWallView.render();


    $center_wall.on('mouseenter', 'li', function() {
      console.log(this);
      $(this).find('.message-delete').show();
    });
    $center_wall.on('mouseleave', 'li', function() {
      $('.message-delete', this).hide();
    });
  });
  </script>
{% endblock %}