{% extends 'cal/panel.html' %}
{% load bootstrap %}

{% block panel_content %}
  <div id="staff-hours-table"></div>

  <script type="text/template" id="staff-hours-table-template">
    <table class="table table-bordered table-hover table-condensed">
      <tbody>
      <tr><th scope="row">Work</th><td><%= work %></td></tr>
      <tr><th scope="row">Available</th><td><%= empty %></td></tr>
      <tr><th scope="row">Total</th><td><%= total %></td></tr>
      </tbody>
    </table>
  </script>

  <script type="text/javascript">
  $(document).ready(function() {
    var StaffHoursView = Backbone.View.extend({
      el: '#staff-hours-table',
      template: _.template($('#staff-hours-table-template').html()),
      initialize: function(){
        this.render(getRequestDay());
      },
      render: function(day){
        var url = '{% url "cal:staff_hours" uid=user_profile.id %}';
        if (day) url = url + '?day=' + day;
        //console.log(url);
        var view = this;
        $.get(url, function(data) {
          view.$el.html(view.template({work: data['work'] || 'N/A', empty: data['empty'] || 'N/A', total: data['total'] || 'N/A'}));
        });
      }

      // note: Backbone.View.events doesn't seem to bind external elements. use fullCalendar to trigger update.
    });

    var staffHoursView = new StaffHoursView();
    $('#staff-hours-table').data('view', staffHoursView);
  });
  </script>

{% endblock %}