{% extends 'base.html' %}
{% load account_tags %}
{% load p2_tags %}
{% load bootstrap %}

{% block content %}
  {% if not pool_list %}
    <p>None.</p>
  {% else %}
    <div class="row">
      {% for uconn in pool_list %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div class="thumbnail">
          <div class="text-center">
            {% if uconn.target_user.to_puser.is_registered %}
              <span title="{{ uconn.target_user.email }}" data-toggle="tooltip" class="word-break"><img src="{% user_picture_url uconn.target_user %}" class="img-circle img-18"> <a href="{% url 'account_view' pk=uconn.target_user.id %}">{% user-full-name uconn.target_user %}</a></span>
            {% else %}
              <span class="word-break">{{ uconn.target_user.email }}</span>
            {% endif %}
          </div>
          <div class="text-center">
            {% for circle in uconn.get_circle_list %}
              <span class="label label-primary" title="{{ circle.display }}" data-toggle="tooltip">{{ circle.display|truncatechars:25 }}</span>
            {% endfor %}
          </div>
        </div></div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
