{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content-header %}
  <strong class="margin-right-10">TO: </strong>
  {% block to_user %}{% include 'account/view/inline_full.html' with user=to_user only %}{% endblock %}
{% endblock %}

{% block content %}
  <form class="form" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Send</button>
      <a href="#" class="btn btn-default go-back">Go Back</a>
    </div>
  </form>
{% endblock %}
