{% extends "base_page.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block title %}Center | S2C2{% endblock %}

{% block page-header %}{% icon center %} {{ center|name }}{% endblock %}

{% block extra_header %}
  <link href='{% static 'fullcalendar/fullcalendar.css' %}' rel='stylesheet' />
  <link href='{% static 'fullcalendar/fullcalendar.print.css' %}' rel='stylesheet' media='print' />
  <script src='{% static 'fullcalendar/lib/moment.min.js' %}'></script>
  <script src='{% static 'fullcalendar/fullcalendar.js' %}'></script>
  <script>
    $(document).ready(function() {
      function centerCalendarViewRender(view, element) {
        //$.get('{% url "log:comment_location" cid=center.id %}', function(data) {
        //  console.log(data);
        //});
        calendarChangeBookmark(view);
        var wall = $('#center-wall').data('wall');
        if (wall) {
          wall.centerWallView.render();
        }

        var calendar_day = view.calendar.getDate();
        $('#panel-container-panel-center-wall .panel-title a').text('Wall (' + calendar_day.format('MMM. D') + ')');
      }

      var calendarDefaults = getCalendarDefaults();
      $.extend(calendarDefaults, {
        viewRender: centerCalendarViewRender
      });

      var $calendar_filled = $('#calendar-filled');
      var $calendar_empty = $('#calendar-empty');

      $calendar_filled.fullCalendar($.extend(calendarDefaults, {
        events: '{% url "cal:center_events_filled" cid=center.id %}'
      }));

      $calendar_empty.fullCalendar($.extend(calendarDefaults, {
        events: '{% url "cal:center_events_empty" cid=center.id %}'
      }));

      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $calendar_filled.fullCalendar('render');
        $calendar_empty.fullCalendar('render');
      });

      // post message on the wall
      $('#panel-center-wall :submit').click(function(jsEvent) {
        jsEvent.preventDefault();
        var day = getRequestDay();
        var message = $('#panel-center-wall input[name=comment]').val();
        if (message) {
          // send post request
          $.post('{% url "log:comment_location" cid=center.id %}', {day: day, message: message}, function(data, status, jqxhr) {
            $('#panel-center-wall input[name=comment]').val('');
            if (jqxhr.status == 201) {
              // successfully created.
              var wall = $('#center-wall').data('wall');
              if (wall) {
                wall.centerWallView.render();
              }
            }
          });
        } // end of if (message)
      });

    }); // end of document.ready().
  </script>
{% endblock %}

{% block page-content %}
  <div class="row">
    <div class="col-sm-3">
      <div class="panel-group" id="calendar-panel-list">
        {% include "cal/includes/panel_center_legend.html" with panel_id="panel-center-legend" panel_title="Classrooms" panel_collapse=True %}
        {% include "cal/includes/panel_center_wall.html" with panel_id="panel-center-wall" panel_title="Wall" panel_collapse=True %}
        {% include "cal/includes/panel_center_staff.html" with panel_id="panel-center-staff" panel_title="Staff" panel_collapse=False %}
      </div>
    </div>
    <div class="col-sm-9">
      <nav><ul class="nav nav-tabs">
        <li class="active"><a href="#cal-center-tab-filled" data-toggle="tab">Classroom Schedule</a></li>
        <li><a href="#cal-center-tab-empty" data-toggle="tab">Not Covered ("Holes")</a></li>
      </ul></nav>

      <div class="tab-content">
        <div class="tab-pane active" id="cal-center-tab-filled">
          <div id='calendar-filled'></div>
        </div>
        <div class="tab-pane" id="cal-center-tab-empty">
          <div id='calendar-empty'></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}