{% extends "base_page.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block extra_header %}
  {{ classroom_copy_day_form.media }}
  <link href='{% static 'fullcalendar/fullcalendar.css' %}' rel='stylesheet' />
  <link href='{% static 'fullcalendar/fullcalendar.print.css' %}' rel='stylesheet' media='print' />
  <script src='{% static 'fullcalendar/lib/moment.min.js' %}'></script>
  <script src='{% static 'fullcalendar/fullcalendar.js' %}'></script>
  {% include 'cal/includes/js_classroom.html' %}
  <script src='{% static 'js/user_api.js' %}'></script>
  <script>
    $(document).ready(function() {
      var $roster = $('#roster');
      var user_api = $roster.data('roster');
      if (!user_api) {
        user_api = initialize_user_api('#roster');
        $roster.data('roster', user_api);
      }

      // duplicate code: see js_classroom, viewRender().
      var fc = $('#calendar').data('fullCalendar');
      var start = fc.getView().intervalStart.format('YYYYMMDD');
      var end = fc.getView().intervalEnd.format('YYYYMMDD');
      user_api.refresh($roster.data('cid'), start, end);
    });
  </script>
{% endblock %}

{% block title %}Classroom Calendar | S2C2{% endblock %}

{% block page-header %}{% icon classroom %} {{ classroom|name }}{% endblock %}

{% block page-content %}
  <div class="row">
    <div class="col-sm-3 hidden-print">
      <div class="panel-group" id="calendar-panel-list">
        {#{% include "cal/includes/panel_classroom_comment.html" with panel_id="panel-classroom-comment" panel_title="Notes" panel_collapse=True %}#}
        {% include "cal/includes/panel_classroom_copy_day.html" with panel_id="panel-classroom-copy-day" panel_title="Copy (by day)" panel_collapse=False %}
        {% include "cal/includes/panel_classroom_copy.html" with panel_id="panel-classroom-copy" panel_title="Copy (by week)" panel_collapse=False %}
        {% include "cal/includes/panel_classroom_help.html" with panel_id="panel-classroom-help" panel_title="Help" panel_collapse=False %}
      </div>
    </div>
    <div class="col-sm-9">
      <ul id='roster' class="list-inline" data-cid="{{ classroom.pk }}"></ul>
      <div id='calendar'></div>
    </div>
  </div>

  <div class="modal fade" id="modal-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign staff to classroom</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" method="post" action="{% url 'cal:assign' cid=classroom.pk %}?day={{ day.to }}">
            {% csrf_token %}
            <div id="modal-form-content"></div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg" id="modal-form-submit" type="submit">Assign</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
