{% extends "base_page.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block extra_header %}
  <link href='{% static 'fullcalendar/fullcalendar.css' %}' rel='stylesheet' />
  <link href='{% static 'fullcalendar/fullcalendar.print.css' %}' rel='stylesheet' media='print' />
  <script src='{% static 'fullcalendar/lib/moment.min.js' %}'></script>
  <script src='{% static 'fullcalendar/fullcalendar.js' %}'></script>
  <script>
    $(document).ready(function() {

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'agendaDay,agendaWeek'
        },
        defaultDate: '{{ day.to_fullcalendar }}',
        defaultView: 'agendaWeek',
        fixedWeekCount: false,
        allDaySlot: false,
        minTime: '06:00',
        maxTime: '21:00',
        scrollTime: '08:00',

        selectable: true,
        selectHelper: true,
        selectConstraint: {
          start: '06:00',
          end: '21:00'
        },
        select: function(start, end) {
          //console.log(start.format('YYYYMMDD'));
          //console.log(start.format('HHmm'));
          var form_day = start.format('YYYYMMDD');
          // handle template string.
          /*if (start.isBetween('1900-01-01', '1900-01-08')) {
            form_day = start.format('d');
            console.log(form_day);
          }*/
          var form_start = start.format('HHmm');
          var form_end = end.format('HHmm');
          $.post('{% url "slot:need_add" cid=classroom.pk %}', {day: form_day, start_time: form_start, end_time: form_end, howmany: 1}, function(data) {
            //console.log(data);
            if (data.status === 302) {
              //window.location.replace(data.content);
              $('#calendar').fullCalendar('unselect');
              $('#calendar').fullCalendar('refetchEvents');
              $('#calendar').fullCalendar('rerenderEvents');
            }
          });

          //$.get('{% url "cal:assign" cid=classroom.pk %}' + '?day=' + form_day, function(data) {
          //  console.log(data);
          //});
          //$('#modal-form').modal('show');
        },

        firstDay: 1,
        //editable: true,
        eventLimit: true,
        events: '{% url "cal:classroom_events" cid=classroom.pk %}',
        eventRender: function(event, element) {
          // append "offer remove" ajax link.
          $('div.fc-content div.fc-title', element).append(' <span class="glyphicon glyphicon-remove need-remove" data-need="' + event.id + '"></span>');
        }
      });

      $('#calendar').on('click', '.need-remove', function(e) {
        e.stopPropagation();
        e.preventDefault();
        var [classroom_id, day, start, end, user_id] = $(this).data('need').split('-');
        //console.log(classroom_id, day, start, end, user_id);
        // note: classroom.id is not available to django backend. we'll assume classroom.pk (in django) === classroom_id (in js)
        $.post('{% url "cal:need_delete_ajax" cid=classroom.pk %}', {day: day, start_time: start, end_time: end, user_id: user_id}, function(data) {
          //console.log(data);
          if (data.success) {
            //window.location.replace(data.content);
            $('#calendar').fullCalendar('refetchEvents');
            $('#calendar').fullCalendar('rerenderEvents');
          }
        });
      });

    }); // end of document.ready().
  </script>
{% endblock %}

{% block title %}Classroom Calendar | S2C2{% endblock %}

{% block page-header %}{% icon classroom %} {{ classroom|name }}{% endblock %}

{% block page-content %}
  <div class="row">
    <div class="col-sm-3">
      <div>
        Placeholder
      </div>
    </div>
    <div class="col-sm-9">
      <div id='calendar'></div>
    </div>
  </div>

  <div class="modal fade" id="modal-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign Classroom Needs</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Assign</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
