{% extends "base_page.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block extra_header %}
  <link href='{% static 'fullcalendar/fullcalendar.css' %}' rel='stylesheet' />
  <link href='{% static 'fullcalendar/fullcalendar.print.css' %}' rel='stylesheet' media='print' />
  <script src='{% static 'fullcalendar/lib/moment.min.js' %}'></script>
  <script src='{% static 'fullcalendar/fullcalendar.js' %}'></script>
  <script>
    $(document).ready(function() {

      /*$.get('{% url "cal:staff_events" uid=user_profile.pk %}', function(data) {
        console.log(data);
      });*/

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'agendaWeek',

        selectable: true,
        selectHelper: true,
        selectConstraint: {
          start: '06:00',
          end: '21:00'
        },
        select: function(start, end) {
          //console.log(start.format('YYYYMMDD'));
          //console.log(start.format('HHmm'));
          var form_day = start.format('YYYYMMDD');
          var form_start = start.format('HHmm');
          var form_end = end.format('HHmm');
          $.post('{% url "slot:offer_add" uid=user_profile.pk %}', {day: form_day, start_time: form_start, end_time: form_end}, function(data) {
            //console.log(data);
            if (data.status === 302) {
              window.location.replace(data.content);
            }
          });
          //var eventData;
          //eventData = {
          //  start: start,
          //  end: end
          //};
          //$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
          //$('#calendar').fullCalendar('unselect');
          //$('#calendar').fullCalendar('refetchEvents');
        },

        //firstDay: 1,
        //editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: '{% url "cal:staff_events" uid=user_profile.pk %}'
      });

    }); // end of document.ready().
  </script>
{% endblock %}

{% block title %}Staff Calendar | S2C2{% endblock %}
{% block page-header %}Calendar <small>{% icon user %} {{ user|name }}</small>{% endblock %}

{% block page-content %}
<div class="row">
<div class="col-sm-9">
  <div id='calendar'></div>
</div>
<div class="col-sm-3">
</div>
</div>
{% endblock %}