{% extends "base_page.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load s2c2_tags %}

{% block extra_header %}
  {{ staff_template_settings_form.media }}
  <link href='{% static 'fullcalendar/fullcalendar.css' %}' rel='stylesheet' />
  <link href='{% static 'fullcalendar/fullcalendar.print.css' %}' rel='stylesheet' media='print' />
  <script src='{% static 'fullcalendar/lib/moment.min.js' %}'></script>
  <script src='{% static 'fullcalendar/fullcalendar.js' %}'></script>
  {% include 'cal/includes/js_staff.html' %}
{% endblock %}

{% block title %}Staff Calendar | S2C2{% endblock %}

{% block page %}
  <div id="menu-command-list" class="navmenu navmenu-default navmenu-fixed-right offcanvas">
    <div class="navmenu-brand">Staff Calendar</div>
    <div class="panel-group" id="calendar-panel-list">
      {% include "cal/includes/panel_staff_hours.html" with panel_id="panel-staff-hours" panel_title="Weekly Hours" panel_collapse=False %}
      {% include "cal/includes/panel_staff_copy.html" with panel_id="panel-staff-copy" panel_title="Copy (by week)" panel_collapse=False %}
      {% include "cal/includes/panel_staff_template.html" with panel_id="panel-staff-template" panel_title="Template Settings" panel_collapse=False %}
      {% include "cal/includes/panel_staff_help.html" with panel_id="panel-staff-help" panel_title="Help" panel_collapse=True %}
    </div>
  </div>

  <div class="page-header">
    <h1>
      <img src="{% user_picture_url user_profile %}" class="img-circle user-picture-md">
      {{ user_profile|name }}
      <small><span class="pull-right"><button type="button" class="btn btn-default btn-navbar hidden-print" data-toggle="collapse" data-target="#page-summary"><i class="fa fa-info"></i> Profile</button> <button type="button" class="btn btn-default btn-navbar hidden-print" data-toggle="offcanvas" data-target="#menu-command-list" data-canvas="body"><i class="fa fa-bars"></i> Menu</button></span></small>
    </h1>

    <div class="row collapse well" id="page-summary">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4"><div class="text-center">
                <img src="{% user_picture_url user_profile %}" class="img-circle img-responsive">
                {% if not user_profile.has_picture and user == user_profile.user %}<a href="{% url 'user:picture' %}" class="btn btn-default">Edit picture</a>{% endif %}
              </div></div>
              <div class="col-sm-8">
                <table class="table table-condensed">
                  <tr><th scope="row">Center{{ user_profile.centers.all|pluralize }}</th><td><ul class="list-unstyled">
                    {% for center in user_profile.centers.all %}
                      <li><a href="{% url 'cal:center' cid=center.id %}">{% icon center %} {{ center|name }}</a></li>
                    {% empty %}
                      <li class="text-muted">-None-</li>
                    {% endfor %}
                  </ul></td></tr>
                  <tr><th scope="row">Phone</th><td><ul class="list-unstyled">
                    <li>{% if user_profile.phone_main %}<i class="fa fa-phone"></i> {{ user_profile.phone_main }}{% else %}<span class="text-muted">-None-</span>{% endif %}</li>
                    {% if user_profile.phone_backup %}<li><i class="fa fa-phone"></i> {{ user_profile.phone_backup }}</li>{% endif %}
                  </ul></td></tr>
                  <tr><th scope="row">Email</th><td><ul class="list-unstyled">
                    <li><i class="fa fa-envelope"></i> {{ user_profile.email }}</li>
                  </ul></td></tr>
                  {% if user_profile.address %}<tr><th scope="row">Address</th><td><ul class="list-unstyled"><li>{{ user_profile.address }}</li></ul></td></tr>{% endif %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>Personal note: </strong><span{% if not user_profile.note %} class="text-muted"{% endif %}>{{ user_profile.note|default:'-None-' }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <section id="page-content">
    <div class="row">
      <div class="col-sm-12">
        <div id='calendar'></div>
      </div>
    </div>
  </section>
{% endblock %}
