{% extends 'slot/command_form.jinja2' %}
{% load s2c2_tags %}

{% block command_form_content %}
  <table class="table table-bordered table-hover table-striped table-condensed">
    <thead><tr>
      <th class="text-center">{% if day.is_regular %}{{ day.value|date:'l' }}{% else %}{{ day.value|date }}{% endif %}</th>
      <th class="text-center">Classroom needs</th>
    </tr></thead>
    <tbody>
    {% for first_row, second_row in unmet_table_data %}
      <tr>
        <th scope="row" class="text-center">{{ first_row.display_slice }}</th>
        {% if second_row %}
          <td class="text-center"><ul class="list-inline">
            {% for classroom in second_row %}{# there should be only one availability should be only one #}
              <li><a href="{% url 'slot:classroom' cid=classroom.pk %}?day={{ day.get_token }}">{% icon classroom %} {{ classroom.name }}</a></li>
            {% endfor %}
          </ul></td>
        {% else %}
          <td class="text-muted text-center">-None-</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="help-block">* Classroom needs shown according to the availability of {{ user_profile.get_display_name }}</div>
{% endblock %}