{% extends 'slot/command_form.jinja2' %}
{% load bootstrap %}

{% block command_form_content %}
  <form class="form-horizontal" role="form" method="post" action="{% url 'slot:offer_add' uid=user_profile.pk %}">
    {% csrf_token %}
    {{ command_form_offer_add|bootstrap_horizontal:'col-sm-4' }}
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Add</button>
        <span class="help-block">* Add only the missing time slot(s).</span>
      </div>
    </div>
  </form>
{% endblock %}