{% extends 'slot/command_form.html' %}
{% load bootstrap %}

{% block command_form_content %}
  <form class="form-horizontal" role="form" method="post" action="{% url 'slot:offer_delete' uid=user_profile.pk %}">
    {% csrf_token %}
    {{ command_form_offer_delete|bootstrap_horizontal:'col-sm-4' }}
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary" name="delete">Delete</button>
        <button type="submit" class="btn btn-primary" name="delete-all">Delete All Day</button>
      </div>
    </div>
    <ul class="help-block">
      <li>Affected classroom assignments will be delete too.</li>
      <li>Delete cannot be undone.</li>
    </ul>
  </form>
{% endblock %}