{% extends 'slot/command_form.html' %}
{% load s2c2_tags %}

{% block command_form_content %}
{% if change_log_entries %}
  <ul>
  {% for entry in change_log_entries %}
    <li><span class=""><mark>{% if entry.is_today %}{{ entry.updated|time }}{% else %}{{ entry.updated|date }}{% endif %} by {{ entry.creator|name }}</span></mark>: {{ entry.display }}</li>
  {% endfor %}
  </ul>
  <ul class="help-block"><li>Only the first 20 log entries are displayed.</li></ul>
{% else %}
  <div class="alert alert-warning">No update yet.</div>
{% endif %}
{% endblock %}