{% extends 'slot/command_form.html' %}
{% load bootstrap %}

{% block command_form_content %}
  <form class="form-horizontal" role="form" method="post" action="{% url 'slot:classroom_assign' cid=classroom.pk %}">
    {% csrf_token %}
    {{ command_form_assign|bootstrap_horizontal:'col-sm-4' }}
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Assign</button>
      </div>
    </div>
    <ul class="help-block">
      <li>Staff listed are verified and available at the time when the classroom has unmet needs.</li>
      <li>Assigning staff will not add classroom needs or staff available slots.</li>
      <li>You might click individual slot on the calendar to assign or reassign staff.</li>
    </ul>
  </form>
{% endblock %}