{% extends "user/user-admin.jinja2" %}
{% load bootstrap %}

{% block title %}Edit profile{% endblock %}

{% block content %}
  <!--div class="alert alert-info" role="alert">Please signup below. You have to use the invitation code.</div-->
  <div class="panel panel-default">
    <div class="panel-heading">Edit profile</div>
    <div class="panel-body">
      <form class="form-horizontal" role="form" method="post" action="{% url 'user:edit' %}">
        {% csrf_token %}
        {{ form_user|bootstrap_horizontal:'col-sm-4' }}
        {{ form_profile|bootstrap_horizontal:'col-sm-4' }}
{#        {{ form|bootstrap_horizontal }}#}
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
