{% extends "base.html" %}
{% load staticfiles %}

{% block page %}
  <div class="branding">
{#    <div class="branding-image text-center"><img src="{% static 'logo.png' %}" style="width: 160px; height: 50px;"></div>#}
{#    <p class="text-center" style="font-size: 150%; font-weight: bold;">Classroom Scheduling Made Easy!</p>#}
    <h1 class="text-center">Servuno for Children's Center<br><small>Classroom Scheduling Made Easy!</small></h1>
    <hr/>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
