{% extends "base.html" %}
{% load s2c2_tags %}

{% block extra_header %}{% block more_header %}{% endblock %}{% verbatim %}
<script type="text/javascript">
  $(document).ready(function() {
    // this will copy the same links to user admin sidebar.
    $('nav.navbar li.user-admin ul li>a').clone().addClass('list-group-item').appendTo('div.user-admin-sidebar');
  });
</script>
{% endverbatim %}{% endblock %}

{% block page %}
  <div class="page-header">
    <h1>
      <a href="{% url 'user:profile' uid=user_profile.id %}" title="Click to view profile info."><img src="{% user_picture_url user_profile %}" class="img-circle user-picture-md"></a>
      {{ user|name }}{% if not user.profile.verified %} <small>{% icon 'unverified' %}</small>{% endif %}
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group user-admin-sidebar">
      </div>
    </div>
    <div class="col-sm-8">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
