{% extends "base.html" %}
{% load s2c2_tags %}

{% block extra_header %}{% verbatim %}
  <script src="http://firstopinion.github.io/formatter.js/javascripts/formatter.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      // this will copy the same links to user admin sidebar.
      $('nav.navbar li.user-admin ul li>a').clone().addClass('list-group-item').appendTo('div.user-admin-sidebar');

      // for edit page only. use phone formatter
      new Formatter(document.getElementById('id_phone_main'), {
        'pattern': "{{999}}-{{999}}-{{9999}}",
        'persistent': true,
      });
    });
  </script>
{% endverbatim %}{% endblock %}

{% block page %}
  <div class="page-header">
    <h1>{% icon user %} {{ user|name }}{% if not user_profile.is_verified %} <small>{% icon 'unverified' %}</small>{% endif %}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group user-admin-sidebar">
      </div>
    </div>
    <div class="col-sm-8">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
