{% extends "base.jinja2" %}

{% block extra_header %}{% verbatim %}
  <script type="text/javascript">
    $(document).ready(function() {
      // this will copy the same links to user admin sidebar.
      $('nav.navbar li.user-admin ul li>a').clone().addClass('list-group-item').appendTo('div.user-admin-sidebar')
    });
  </script>
{% endverbatim %}{% endblock %}

{% block page %}
  <div class="page-header">
    <h1>{{ user.get_username|default:'N/A' }}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group user-admin-sidebar">
      </div>
    </div>
    <div class="col-sm-8">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
