{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load p2_tags %}

{% block extra_header %}
<script type="text/javascript">
$(document).ready(function() {
  $('button[name="match"]').click(function() {
    $.post($(this).data('url'), function(data) {
      location.reload();
    });
  });

  {% if user.is_staff %}
    // for staff member, allow create and preview match.
    $('.contract-summary').addClass('hover-pointer');
    $('.contract-summary').click(function () {
      window.location = '/contract/' + $(this).data('contract-id');
    });
  {% endif %}
});
</script>
{% endblock %}

{% block page %}
  <div class="panel panel-default">
    <div class="panel-body">
      {% include 'contract/contract_view/summary.html' with contract=contract %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
      <div class="match-details panel panel-primary">
        <div class="panel-heading panel-title">Your response?</div>

        <div class="panel-body">
          {% include 'contract/match_view/extended.html' with match=match contract=contract %}
        </div>

        {% if match.target_user == user or user.is_staff %}
          <div class="panel-footer text-center">
            <button class="btn btn-lg btn-success{% if match.is_accepted %} disabled{% endif %}" name="match"
                    data-url="{% url 'contract:match_accept' pk=match.id %}"
                    title="You agree to do this job. The client might not choose you though." data-toggle="tooltip">
              Accept
            </button>
            <button class="btn btn-lg btn-danger{% if match.is_confirmed or match.is_declined %} disabled{% endif %}"
                    name="match" data-url="{% url 'contract:match_decline' pk=match.id %}"
                    title="You will not help this time and will not receive further notice about this job."
                    data-toggle="tooltip">Decline
            </button>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
