{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load p2_tags %}

{% block extra_header %}
<script type="text/javascript">
$(document).ready(function() {
  $('button[name="match"]').click(function() {
    var $match_response = $('#match-response');
    var post_data = $match_response.data('changed') ? {response: $match_response.val()} : {};
    $.post($(this).data('url'), post_data, function(data) {
      window.location = '{% url "contract:match_view" pk=match.id %}';
    });
  });

  $('#match-response').change(function() {
    $(this).data('changed', true);
  });

  {% if match.is_responded %}
    $('#match-non-edit-bar').hide();
    $('#match-edit-bar').show();
    $('button[name="edit"]').click(function() {
      $('#match-non-edit-bar').show();
      $('#match-edit-bar').hide();
      $('#match-response').removeAttr('readonly');
    });
  {% else %}
    $('#match-edit-bar').hide();
  {% endif %}

  {% if user.is_staff %}
    // for staff member, allow create and preview match.
    $('.contract-summary').addClass('hover-pointer');
    $('.contract-summary').click(function () {
      {# instead of hard code here, maybe use 'url'? can't figure out why i hard coded earlier with client side code. #}
      window.location = '/contract/' + $(this).data('contract-id');
    });
  {% endif %}
});
</script>
{% endblock %}

{% block page %}
  <div class="panel panel-default">
    <div class="panel-body">
      {% include 'contract/contract_view/summary.html' with contract=contract %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
      <div class="match-details panel panel-primary">
        <div class="panel-heading panel-title">Your response?</div>
        <div class="panel-body">
          {% if match.is_accepted %}<div class="alert alert-success">You have accepted the request.</div>{% endif %}
          {% if match.is_declined %}<div class="alert alert-warning">You have declined the request.</div>{% endif %}
          {% include 'contract/match_view/extended.html' with match=match contract=contract %}
        </div>
        <div class="panel-body">
          <textarea class="form-control" rows="3" placeholder="Optional note" id="match-response"{% if match.is_responded or contract.is_event_expired %} readonly{% endif %}>{{ match.response }}</textarea>
        </div>

        {% if match.target_user == user or user.is_staff %}{% if not contract.is_event_expired %}
          <div class="panel-footer text-center">
            <div id="match-non-edit-bar">
              {# we always want the "accept" button available so people can update the note. #}
              <button class="btn btn-success" name="match" data-url="{% url 'contract:match_accept' pk=match.id %}" title="You agree to do this job, although might not get chosen." data-toggle="tooltip">Accept</button>
              {# disable "decline" button if the match is already confirmed. #}
              <button class="btn btn-danger{% if match.is_confirmed %} disabled{% endif %}" name="match" data-url="{% url 'contract:match_decline' pk=match.id %}" title="You will not help this time and will not receive further notice." data-toggle="tooltip">Decline</button>
              <div class="help-block">Choose "Accept" if you might help <em>{% user-short-name contract.initiate_user %}</em>. Specify your conditions (if any) in the text box above. Choose "Decline" if you are sure you cannot help.</div>
            </div>
            <div id="match-edit-bar">
              <button class="btn btn-primary" name="edit">Edit</button>
            </div>
          </div>
        {% endif %}{% endif %}
      </div>
    </div>
  </div>
{% endblock %}
