{% load account_tags %}
{% load p2_tags %}
<div class="match-summary" data-match-id="{{ match.id }}"{#  data-toggle="tooltip" title="{{ match.display_status.label }}. {{ match.display_status.explanation }}" #}>
  <div class="row vertical-align">
    <div class="col-xs-4">
      {% include 'account/view/compact.html' with user=match.target_user icon='elements/icon_server.html' color=match.display_status.color only %}
    </div>
    <div class="col-xs-8">
      {# make tooltip in "p" to prevent getting truncated. but then it shows funny in match_view #}
{#      {% block first-line %}#}
{#        <p class="text-large truncate" title="{{ match.display_status.label }}. {{ match.display_status.explanation }}" data-toggle="tooltip">#}
{#          <span class="label label-{{ match.display_status.color }}">{{ match.display_status.label }}</span>#}
          {#      {% url 'contract:match_view' pk=match.id as match_view_url %}#}
          {#      {% if user.is_staff %}<a href="{{ match_view_url }}"><i class="fa fa-rocket"></i></a>{% endif %}#}
{#        </p>#}
{#      {% endblock %}#}
      <p class="text-center">
        {% for circle in match.circles.all %}
          <span class="label label-primary" title="{{ circle.display }}" data-toggle="tooltip">{{ circle.display|truncatechars:25 }}</span>
        {% endfor %}
      </p>
      {% with interactions=match.count_served_total %}
      {% if interactions %}
        <p class="text-center">
          <span class="label label-info match-interactions-label" data-toggle="tooltip" title="You and {% user-short-name match.target_user %} helped each other {{ interactions }} time{{ interactions|pluralize }}, including favors and non-favors"><i class="fa fa-exchange"></i> {{ interactions }}</span>
          {% with count=match.count_favors_karma other=match.target_user me=match.contract.initiate_user %}{% if count > 0 %}
            <span class="label label-success match-favors-label" data-toggle="tooltip" title="You ({% user-short-name me %}) owe {% user-short-name other %} {{ count }} favor{{ count|pluralize }}"><i class="fa fa-balance-scale"></i> {{ count }}</span>
          {% elif count < 0 %}
            <span class="label label-danger match-favors-label" data-toggle="tooltip" title="{% user-short-name other %} owes you ({% user-short-name me %}) {{ count|negate }} favor{{ count|negate|pluralize }}"><i class="fa fa-balance-scale"></i> {{ count|negate }}</span>
          {% endif %}{% endwith %}
        </p>
      {% endif %}
      {% endwith %}
    </div>
  </div>
</div>