{% load account_tags %}
{% load p2_tags %}
<div class="match-preview panel panel-default">
  <div class="panel-body">
    {% include 'contract/match_view/summary.html' with match=match contract=contract %}
  </div>

  {% if match.is_accepted and contract.is_active and contract.initiate_user == user %}
    <div class="panel-footer text-center">
      <button class="btn btn-lg btn-primary" name="change-status" value="confirm" data-match-id="{{ match.id }}">Confirm</button>
    </div>
  {% endif %}
</div>