{% extends 'contract/contract_edit/create.html' %}

{% block create-confirm-message %}Are you sure you want to post this job?{% endblock %}

{% block content-title %}Set Up a Playdate and Help Your Friends!{% endblock %}

{% block content-introduction %}
  <p>Don’t you love when your kids have friends over? They are occupied, you can (mostly) relax, and you’re doing other parents a huge favor!</p>
  <p>Make an offer to host your kids’ friends using Servuno’s tool below. Just input the date and time you are free to help, the network you would like to send the request to, and any relevant notes. Servuno will send your offer to your selected contacts and make you the most popular parent in town!</p>
{% endblock %}

{#{% block create-submit-extra %}#}
{#  <a class="pull-right" href="{% url 'circle:parent' %}">Add Parents</a>#}
{#{% endblock %}#}