{% extends "base_s.html" %}

{% block extra_header %}
{{ form.media }}
<script type="text/javascript">
$(document).ready(function() {
  var path = window.location.pathname;
  $('#account-manage a[href="'+ path +'"]').parent().addClass('active');
});
</script>
{% block more_header %}{% endblock %}
{% endblock %}

{% block title %}Edit account{% endblock %}

{% block content %}
  <div class="panel panel-default" id="account-manage">
  <div class="panel-heading">
    <ul class="nav nav-pills nav-justified">
      <li><a href="{% url 'account_edit' %}">Edit profile</a></li>
      <li><a href="{% url 'account_picture' %}">Upload picture</a></li>
      <li><a href="{% url 'account_password' %}">Change password</a></li>
    </ul>
  </div>
  <div class="panel-body">
    {% block manage-block %}{% endblock %}
  </div>
  </div>
{% endblock %}