{% extends "base_branch.html" %}

{% block extra_header %}
{{ form.media }}
{% block more_header %}{% endblock %}
{% endblock %}

{% block title %}Edit account{% endblock %}

{% block content %}
<div class="panel panel-default" id="account-manage">
  <div class="panel-body">
    <div class="btn-group btn-group-justified min-margin-bottom">
      <a href="{% url 'account_edit' %}" class="btn btn-default" data-active-url="{% url 'account_edit' %}"><i class="fa fa-info"></i> Profile</a>
      <a href="{% url 'account_picture' %}" class="btn btn-default" data-active-url="{% url 'account_picture' %}"><i class="fa fa-image"></i> Picture</a>
      <a href="{% url 'account_password' %}" class="btn btn-default" data-active-url="{% url 'account_password' %}"><i class="fa fa-key"></i> Password</a>
    </div>
    {% block manage-block %}{% endblock %}
  </div>
</div>
{% endblock %}